//Container
.containerGlobal{
  width: 90%;
  margin: 0 auto;
}

//Buttons

.buttonMainGlobal{
  background-color: $colorMain;
  color: $colorWhite;
  border-radius: 5px;
  padding: 10px;
  &:hover{
    background-color: darken($colorMain,5%);
  }
}
.buttonGlobal{
  background-color: $colorWhite;
  color: #000;
  border:1px solid $colorMain;
  border-radius: 5px;
  padding: 10px;
  &:hover{
    background-color: darken($colorWhite,5%);
  }
}

.buttonGlobalPassive{
  background-color: darken($colorWhite,10%);
  color: $colorGrey;
  border:1px solid $colorGrey;
  border-radius: 5px;
  padding: 10px;
}

//links
.linkGlobal{
  color: blue;
}

//text

.smallTextGlobal{
  font-size: 14px;
}
.smallBoldTextGlobal{
  font-size: 14px;
  font-weight: 700;
}
.smallTitleGlobal{
  font-size: 18px;
  font-weight: 700;
}
.smallGrayTextGlobal{
  font-size: 14px;
  margin-top: 10px;
  color: $colorGrey;
  margin-bottom: 10px;
}
.normalTextGlobal{
  font-size: 16px;
}
.normalBoldTextGlobal{
  font-size: 16px;
  font-weight: 700;
}
//icons

.iconGlobal{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  & path{
    fill: #848484;
  }
}
.activeIconGlobal path{
  fill: $colorMain;
}