//Container
.containerGlobal{
  width: 90%;
  margin: 0 auto;
}

//Buttons

.buttonMainGlobal{
  background-color: $colorMain;
  color: $colorWhite;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  &:hover{
    background-color: darken($colorMain,5%);
  }
}
.buttonGlobal{
  background-color: $colorWhite;
  color: #000;
  border:1px solid $colorMain;
  border-radius: 5px;
  padding: 10px;
  &:hover{
    background-color: darken($colorWhite,5%);
  }
}

.buttonGlobalPassive{
  background-color: darken($colorWhite,10%);
  color: $colorGrey;
  border:1px solid $colorGrey;
  border-radius: 5px;
  padding: 10px;
}

//links
.linkGlobal{
  color: blue;
  &:hover{
    text-decoration: underline;
  }
}

//text

.smallTextGlobal{
  font-size: 14px;
}
.smallBoldTextGlobal{
  font-size: 14px;
  font-weight: 700;
}
.smallGrayTextGlobal{
  font-size: 14px;
  margin-top: 10px;
  color: $colorGrey;
  margin-bottom: 10px;
}
.normalTextGlobal{
  font-size: 16px;
}
.normalBoldTextGlobal{
  font-size: 16px;
  font-weight: 700;
}
.normalBlueTextGlobal{
  font-size: 16px;
  color: blue;
}
//titles
.smallTitleGlobal{
  font-size: 18px;
  font-weight: 700;
}
.middleTitleGlobal{
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 20px 0;
}

//icons

.iconGlobal{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  & path{
    fill: #848484;
  }
}

.iconMiddleGlobal{
  width: 60px;
  height: 60px;
  margin-right: 5px;
  & path{
    fill: #848484;
  }
}
.activeIconGlobal path{
  fill: $colorMain;
}
.iconGlobalGreen{
  width: 25px;
  height: 25px;
  margin-right: 5px;
  & path{
    fill: green;
  }
}
//red star

.redStar{
  color: red;
  margin-right: 5px;
}

//flex container

.flexColumnGlobal{
  display: flex;
  flex-direction: column;
}
.flexRowGlobal{
  display: flex;
  flex-direction: row;
}

//input

.inputGlobal{
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 15px;
}


//text area
.textAreaGlobal{
  height: 150px;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
}

//style for props

.warningGlobal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 10px;
  padding: 5px;
  font-size: 24px;
  font-weight: 700;
  color:darken($colorWarningYellow,50%) ;
  background-color: darken($colorWarningYellow,20%);
}

//decoration style for block

.shadowBlock{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
//footer
.footerGlobal{
  position: absolute;
  bottom: 0;
}

//Warnings

.circleWarningGlobal{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 10px;
  padding: 5px;
  font-size: 24px;
  color:darken($colorWarningYellow,50%) ;
  font-weight: 700;
  background-color: darken($colorWarningYellow,20%);
}

//Grid

.gridBlockGlobal{
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 20px;
}