$colorContent: #0e0e0e;
$colorWhite: #fff;
$colorBorder: #d0d4dc;
$colorGrey: #6b6b6ba6;
$colorGreyHover: #e5e8eb;
$colorLink:#00a1cd;
$colorBg: #f5f7f9;
$colorMain: #38a7c5c7;
$colorFooter: #e2e6eb;

$fontSizeBigText: 18px;
$fontSizeContent: 16px;
$fontSizeLaptop: 15px;
$fontSizeLaptopSmall: 14px;
