$colorContent: #0e0e0e;
$colorWhite: #fff;
$colorBorder: #0000003f;
$colorGrey: #6b6b6ba6;
$colorGreyHover: #e5e8eb;
$colorLink:#00a1cd;


$fontSizeBigText: 18px;
$fontSizeContent: 16px;
$fontSizeLaptop: 15px;
$fontSizeLaptopSmall: 14px;
