$colorContent: #0e0e0e;
$colorWhite: #fff;
$colorBorder: #d0d4dc;
$colorGrey: #6b6b6ba6;
$colorGreyHover: #e5e8eb;
$colorLink:#00a1cd;
$colorBg: #f5f7f9;
$colorMain: #38a7c5c7;
$colorFooter: #e2e6eb;
$colorError: #dc143c;
$colorFormBorder: #d7d7d7;
$colorWarningYellow: #fce6b9;
$colorWarningRed: #ff6369;
$colorGreenBorder: darken(#00ff0077,30%);
$colorGreenBackGround:rgba(207, 250, 207, 0.47);

$fontSizeBigText: 18px;
$fontSizeContent: 16px;
$fontSizeLaptop: 15px;
$fontSizeLaptopSmall: 14px;
