  {% load static %}
   {% load i18n %}
  <footer id="footer">
    <div class="flex between container">
        <form id="send_form">
            {% csrf_token %}
            <p class="h1 fontMedium">
                {% trans 'got_proj' %}
            </p>
           <div class="flex">
                <p class="formTitle">
                    {% trans 'service_footer' %}:
                </p>
               {% for area in areas %}
                <p>
                    <input data-area-id="{{ area.id }}" value="{{ area.id }}" type="checkbox" id="test{{ area.id }}">
                    <label class="labelCheckbox" for="test{{ area.id }}">{{ area.name }}</label>
                </p>
               {% endfor %}
            </div>
            <input id="name" required placeholder="{% trans 'plc_name' %}" class="footerInput fontMedium" type="text">
            <p class="errorText errorName fontRegular">{% trans 'error_mess' %}</p>
            <input id="phone" required  placeholder="{% trans 'plc_phone' %}" class="footerInput fontMedium" type="text">
            <p class="errorText errorPhone fontRegular">{% trans 'error_mess' %}</p>
            <p class="errorPhoneFormat fontRegular">Required format + 00(000)000-00-00</p>
            <input id="email" required  placeholder="{% trans 'plc_email' %}" class="footerInput fontMedium" type="email">
            <p class="errorText errorMail fontRegular">{% trans 'error_mess' %}</p>
            <p class="errorMailFormat fontRegular">Required format text@text.domen</p>
            <div class="flex">
                <div class="rangeBlock">
                    <p class="fontMedium">{% trans 'footer_terms' %} <span id="valWeek"> 1 </span> {% trans 'footer_week' %} </p>
                    <div class="range-container rangeWeek">
                        <span class="bar"><span class="fill"></span></span>
                        <input  class="range" id="rangeWeek" type="range" value="1" min="0" max="50" step="1"/>
                    </div>
                    <p class="fontMedium">{% trans 'footer_week' %}</p>
                </div>
                <div class="marginRange rangeBlock">
                    <p class="fontMedium">{% trans 'footer_budget' %} <span id="valBudget">1000</span>$</p>
                    <div class="range-container rangeBudget">
                        <span class="bar"><span class="fill"></span></span>
                        <input class="range" id="rangeBudget" type="range" value="1000" min="0" max="100000" step="1000"/>
                    </div>
                    <p class="fontMedium">USD ($)</p>
                </div>
            </div>
            <input id="detail" placeholder="{% trans 'proj_det' %}" class="footerInput fontMedium" type="text">
            <div class="flex between submit">
                <div class="form-group">
                    <label for="file" class="sr-only">{% trans 'attach_file' %}</label>
                    <input type="file" id="file">
                </div>
                <div class="fileName">
                    <button type="button" class="deleteFile" name="button">
                      <img src="{%  static 'site/images/close.svg' %}" alt="close">
                    </button>
                </div>
                <button class="formSubmit fontMedium" id="submit_btn">
                    {% trans 'send_req' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.5" height="8.121" viewBox="0 0 16.5 8.121"><defs><style>.as,.bs{fill:none;stroke:#f2c82b;stroke-linecap:round;stroke-width:1.5px;}.b{stroke-linejoin:round;}</style></defs><g transform="translate(-1032.643 -6943.636)"><line class="as" x1="15" transform="translate(1033.393 6947.697)"/><path class="bs" d="M-3482.156,6958l3,3-3,3" transform="translate(4527.549 -13.307)"/></g></svg>
                </button>
            </div>
        </form>
        <div>
           <p class="h1 fontMedium">
               {% trans 'footer_cont' %}
           </p>
            <div class="flex wrap">
                <a class="footerLink fontMedium" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                <a class="footerLink fontMedium" href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
            </div>
            <div class="location">
                <h3 class="fontMedium h3">
                    {% trans 'footer_location' %}
                </h3>
                <span class="fontMedium footerLink">
                    {% trans 'location' %}
            </span>
            </div>
            <div>
                <h3 class="fontMedium h3 followUs">
                    {% trans 'follow_us' %}
                </h3>
                <div class="footerFollow">
                    <a class="footerLink fontMedium" href="{{ contact.linkedin }}">
                        <img src="{% static 'site/images/linkedin.svg' %}" alt="">
                        Linkedin
                    </a>
                    <a class="footerLink fontMedium" href="{{ contact.clutch }}">
                        <img src="{% static 'site/images/c.svg' %}" alt="">
                        Clutch
                    </a>
                </div>
                <p class="fontRegular">Made with ❤️ from Ukraine, Dnipro</p>
            </div>
        </div>
    </div>
</footer>
