  {% load static %}
   {% load i18n %}
  <footer>
    <div class="flex between container">
        <form action="{% url 'client-request' %}" method="post">
            {% csrf_token %}
            <p class="h1 fontMedium">
                {% trans 'got_proj' %}
            </p>
            <div class="flex">
                <p>
                    <input type="radio" id="test1" name="radio-group" checked>
                    <label for="test1">Service</label>
                </p>
                <p>
                    <input type="radio" id="test2" name="radio-group">
                    <label for="test2">IOS</label>
                </p>
                <p>
                    <input type="radio" id="test3" name="radio-group">
                    <label for="test3">Android</label>
                </p>
                <p>
                    <input type="radio" id="test4" name="radio-group">
                    <label for="test4">Web</label>
                </p>
                <p>
                    <input type="radio" id="test5" name="radio-group">
                    <label for="test5">UI/UX Design</label>
                </p>
            </div>
            <input required placeholder="{% trans 'plc_name' %}" class="footerInput fontMedium" type="text">
            <input required  placeholder="{% trans 'plc_phone' %}" class="footerInput fontMedium" type="text">
            <input required  placeholder="{% trans 'plc_email' %}" class="footerInput fontMedium" type="email">
            <div class="flex">
                <div class="rangeBlock">
                    <p class="fontMedium">{% trans 'footer_terms' %}<span id="valWeek"> 1 </span>{% trans 'footer_week' %}</p>
                    <div class="range-container rangeWeek">
                        <span class="bar"><span class="fill"></span></span>
                        <input class="range" id="rangeWeek" type="range" value="1" min="0" max="100" step="1"/>
                    </div>
                    <p class="fontMedium">{% trans 'footer_week' %}</p>
                </div>
                <div class="marginRange rangeBlock">
                    <p class="fontMedium">{% trans 'footer_budget' %} <span id="valBudget">500</span>$</p>
                    <div class="range-container rangeBudget">
                        <span class="bar"><span class="fill"></span></span>
                        <input class="range" id="rangeBudget" type="range" value="500" min="0" max="10000" step="100"/>
                    </div>
                    <p class="fontMedium">USD ($)</p>
                </div>
            </div>
            <input placeholder="{% trans 'proj_det' %}" class="footerInput fontMedium" type="text">
            <div class="flex between submit">
                <div class="form-group">
                    <label for="file" class="sr-only">{% trans 'attach_file' %}</label>
                    <input type="file" id="file">
                </div>
                <button type="submit" class="formSubmit fontMedium">
                    {% trans 'send_req' %}
                    <img src="{% static 'site/images/arrowSubmit.svg' %}" alt="">
                </button>
            </div>
        </form>
        <div>
           <p class="h1 fontMedium">
               {% trans 'footer_cont' %}
           </p>
            <div>
                <a class="footerLink fontMedium" href="mailto:ruslan@mavinx.com">ruslan@mavinx.com</a>
                <a class="footerLink fontMedium" href="tel:+38(097)7909021">+38 (097) 790 90 21</a>
            </div>
            <div class="location">
                <h3 class="fontMedium h3">
                    {% trans 'footer_location' %}
                </h3>
                <span class="fontMedium footerLink">
                    {% trans 'location' %}
            </span>
            </div>
            <div>
                <h3 class="fontMedium h3 followUs">
                    {% trans 'follow_us' %}
                </h3>
                <div class="footerFollow">
                    <a class="footerLink fontMedium" href="#">
                        <img src="{% static 'site/images/linkedin.svg' %}" alt="">
                        Linkedin
                    </a>
                    <a class="footerLink fontMedium" href="#">
                        <img src="{% static 'site/images/c.svg' %}" alt="">
                        Clutch
                    </a>
                </div>
                <p class="fontRegular">Made with ❤️ from Ukraine, Dnipro</p>
            </div>
        </div>
    </div>
</footer>