{% load static %}
{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as current_language %}
<header class="header">
    <div class="flex w-100">
        <a class="logo" href="{% url 'index' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="88" height="33" viewBox="0 0 88 33"><text class="logo" transform="translate(0 25)"><tspan x="0" y="0">Mavinx</tspan></text></svg>
        </a>
       <div class="langs">
            {% for lang_code, lang_name in languages %}
            <button class="{% if lang_code == current_language %} active-lang  {% endif %} lang fontMedium">
                {% language lang_code %}
                    <a href="{% url request.resolver_match.url_name %}">{{lang_code}}</a>
                {% endlanguage %}
            </button>
            {% endfor %}
        </div>
    </div>
    <nav class="menu">
        <ul class="menuItems">
            <li class="menuItem">
                <a class="fontMedium {% if 'works' in request.path %}activeItem{% endif %}" href="{% url 'works' %}">
                    {% trans 'works' %}
                </a>
            </li>
            <li class="menuItem">
                <a class="fontMedium {% if 'services' in request.path %}activeItem{% endif %}" href="{% url 'services' %}">
                    {% trans 'services' %}
                </a>
            </li>
            <li class="menuItem">
                <a class="fontMedium {% if 'company' in request.path %}activeItem{% endif %}" href=" {% url 'company' %}">
                     {% trans 'company' %}
                </a>
            </li>
            <li class="menuItem">
                <a class="fontMedium {% if 'blog' in request.path %}activeItem{% endif %}" href="{% url 'blog' %}">
                    {% trans 'blog' %}
                </a>
            </li>
            <li class="lastMenuItem">
                <a class="fontMedium" href="#footer">
                    {% trans 'hire_us' %}
                    <img src=" {% static 'site/images/whiteArrow.svg' %}" alt="">
                </a>
            </li>
        </ul>
    </nav>
</header>
