  {% load static %}
  {% load i18n %}
  {% get_current_language as LANGUAGE_CODE %}
<header class="header">
    <div class="flex w-100">
        <a class="logo" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="88" height="33" viewBox="0 0 88 33"><text class="logo" transform="translate(0 25)"><tspan x="0" y="0">Mavinx</tspan></text></svg>
        </a>
        <div class="langs">
            <button class="active-lang lang fontMedium">
                <a href="/en">en</a>
            </button>
            <button class="lang fontMedium">
                <a href="/ru">ru</a>
            </button>
        </div>
    </div>
    <nav class="menu">
        <ul class="menuItems">
            <li class="menuItem">
                <a class="fontMedium" href="#">
                         <p>{% trans 'works' %}</p>
                    <p class="numberOfWorks fontMedium">{{projects.count }}</p>
                </a>
            </li>
            <li class="menuItem">
                <a class="fontMedium" href="#">
                    {% trans 'services' %}
                </a>
            </li>
            <li class="menuItem">
                <a class="fontMedium" href="#">
                     {% trans 'company' %}
                </a>
            </li>
            <li class="menuItem">
                <a class="fontMedium" href="#">
                    {% trans 'blog' %}
                </a>
            </li>
            <li class="lastMenuItem">
                <a class="fontMedium" href="#">
                    {% trans 'hire_us' %}
                    <img src=" {% static 'site/images/whiteArrow.svg' %}" alt="">
                </a>
            </li>
        </ul>
    </nav>
</header>