@import './../../../../index';

.term{
  margin: 20px 0;
}
.descriptionNotPrice,.weightNotPrice{
  display: grid;
  grid-template-columns: 200px 600px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}
.linkGlobal{
  margin-bottom: 20px;
}

