@import "../../../../index";

.containerCancel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:50%;
  margin: 20px 0;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  background-color: $colorWhite;
}

.greenText{
  color: green;
}
.smallBoldTextGlobal,.smallTextGlobal{
  margin-bottom: 10px;
}

.buttonGlobal{
  position: relative;
  cursor: pointer;
  input{
    display: none;
  }
}

