@import '../../../styles/core/vars';

.header {
padding: 20px;
display: flex;
}
.tabs{
    display: inline-flex;
    flex-direction: column;
}
.tab:first-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tab:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.tab{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-transform: uppercase;
background-color: $colorWhite;
padding: 20px 5px;
border-bottom: 1px solid #000;
position: relative;
    &.active{
        background-color: $colorMain;
        color: $colorWhite;
        .icon{
            color: $colorWhite;
        }
        &:after{
            content: '';
            width: 0; 
            height: 0;
            position: absolute;
            right: -15px;
            top: 28px;
            border-top: 15px solid transparent;
            border-left: 15px solid $colorMain;
            border-bottom: 15px solid transparent;
        }
        & .title{
            color: $colorWhite;
        }
    }
    .title{
        font-size: $fontSizeLaptopSmall;
        color: $colorMain;
        position: relative;
        margin-left: 5px;
        cursor: pointer;
        &:hover{
        color: #333;
        }
    }
    .icon{
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
        color: $colorMain;
    }
}