{% extends 'site/base.html' %}
{% load static %}
 {% load i18n %}
{% block title %}
    Mavinx - {% trans 'title_service_page' %}
{% endblock %}
{% block content %}
      <!-- Tabs for page Services -->
    <div class="container works services">
        <h1 class="bannerTitle fontMedium">
            <span>{% trans 'services_title' %}</span>
        </h1>
    </div>
   <div class="container">
   {% include 'site/head/infrastructure.html' %}
   {% include 'site/head/project-ios.html' %}
   {% include 'site/head/project-android.html' %}
   {% include 'site/head/project-web.html' %}
   {% include 'site/head/project-ux-ui-testing.html' %}
    {% include 'site/head/subscribe.html' %}
    <div class="border-block"></div>
    {% include 'site/head/blog.html' %}
  </div>
{% endblock %}
