{% extends 'site/base.html' %}
{% load static %}
 {% load i18n %}
{% block title %}
    Mavinx - {{ project.name }}
{% endblock %}
{% block content %}
<div class="oneProject">
    <div class="projectBanner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fontRegular"><a href="/">Home</a></li>
                <li class="breadcrumb-item fontRegular"><a href="{% url 'works' %}">Projects</a></li>
                <li class="breadcrumb-item fontRegular active" aria-current="page">EasyFit</li>
            </ol>
        </nav>
        <div class="bannerContainer">
            <h1 class="h1 fontMedium">
                {{ project.name }}
            </h1>
            <p class="projectBannerText fontRegular">
                {{ project.description }}
            </p>
        </div>
        <img src="/media/{{ project.head_image }}" alt="{{ project.name }}">
        <div class="projectBannerInfo">
            <div class="flex">
                <div class="bannerInfoItem">
                    <p class="fontRegular">Time</p>
                    <p class="fontMedium">{{ project.dev_time }}</p>
                </div>
                <div class="bannerInfoItem">
                    <p class="fontRegular">Team</p>
                    <p class="fontMedium">{{ project.teems }} members</p>
                </div>
                <div class="bannerInfoItem">
                    <p class="fontRegular">Platform</p>
                    <p class="fontMedium">
                        {% for area in project.area.all %}
                            {% if forloop.last %}
                                {{ area }}
                            {% else %}
                                {{ area }},
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="bannerInfoItem">
                    <p class="fontRegular">Sector</p>
                    <p class="fontMedium">
                        {% for sector in project.sectors.all %}
                            {% if forloop.last %}
                                {{ sector }}
                            {% else %}
                                {{ sector }},
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="bannerInfoItem">
                    <p class="fontRegular">Location</p>
                    <p class="fontMedium">{{ project.location }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="projectDesc fontRegular">
            {{ project.description }}
        </p>
    </div>
{% if project.head_video  %}
    <div class="video">
        <video id="video" width="100%">
            <source src="/media/{{ project.head_video }}" type="video/mp4">
            <source src="/media/{{ project.head_video }}" type="video/ogg">
            <source src="/media/{{ project.head_video }}" type="video/webm">
            Your browser doesn't support HTML5 video tag.
        </video>
        <div class="play">
            <button class="play-btn">
                <img src="{% static 'site/images/play.svg' %}" alt="{{ project.name }}">
            </button>
        </div>
    </div>
{% endif %}
    <div class="bg projectBG">
        <div class="container">
            <h2 class="h2 fontMedium">
                {{ project.name }}
            </h2>
            <div class="infoProject">
                <p class="textDesc fontRegular">
                    {{ project.description }}
                </p>
                <div class="flex">
                    <p class="textDesc fontMedium">Project idea</p>
                    <p class="textDesc fontRegular">
                        {{ project.project_idea }}
                    </p>
                </div>
                <div class="flex">
                    <p class="textDesc fontMedium">Target audience</p>
                    <p class="textDesc fontRegular">
                      {{ project.project_audience }}
                    </p>
                </div>
            </div>
            <div class="blackBG">
                <h4 class="fontMedium">
                    Project challenges
                </h4>
                <ul>
                    {% for challenge in project.project_challenges.all %}
                    <li class="fontRegular">{{ challenge.description }}</li>
                    {% endfor %}
                </ul>
                <h4 class="fontMedium">
                    Result
                </h4>
                <p class="fontRegular">
                   {{ project.result }}
                </p>
                <div class="flex">
                    <a class="fontMedium" href="{{ project.link_ios_store }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24.607" height="30" viewBox="0 0 24.607 30"><defs><style>.aa{fill:#fff;}</style></defs><g transform="translate(-2309 -2708)"><path class="aa" d="M54.18,141.046c-4.465-.026-8.158-9.14-8.158-13.782,0-7.582,5.688-9.242,7.88-9.242a9.067,9.067,0,0,1,2.973.731,6.647,6.647,0,0,0,1.7.487,5.283,5.283,0,0,0,1.218-.395,9.761,9.761,0,0,1,3.671-.887h.009a7.524,7.524,0,0,1,6.3,3.18l.459.69-.661.5a5.561,5.561,0,0,0-2.667,4.586,5.176,5.176,0,0,0,2.888,4.785c.414.249.842.506.842,1.067,0,.367-2.925,8.236-7.173,8.236a5.768,5.768,0,0,1-2.422-.588,4.912,4.912,0,0,0-2.156-.519,5.545,5.545,0,0,0-1.707.462,8.362,8.362,0,0,1-2.961.691Z" transform="translate(2262.978 2596.954)"/><path class="aa" d="M260.79,0c.111,3.989-2.742,6.756-5.591,6.583C254.73,3.4,258.048,0,260.79,0Z" transform="translate(2066.1 2708)"/></g></svg>
                        App Store
                    </a>
                    <a class="fontMedium" href="{{ project.link_android_store }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24"><defs><style>.ag{fill:#fff;}</style></defs><g transform="translate(-1)"><path class="ag" d="M18.168,15.838,15.3,13.02,4.781,23.4Z"/><path class="ag" d="M18.168,8.167,4.781.61,15.3,10.985Z"/><path class="ag" d="M22.363,13.427a1.86,1.86,0,0,0-.057-2.85L19.5,8.979,16.365,12,19.5,15.027Z"/><path class="ag" d="M2.034,24,14.268,12,2.034,0h0A1.821,1.821,0,0,0,1,1.655v20.69A1.821,1.821,0,0,0,2.034,24Z"/></g></svg>
                        Google Play
                    </a>
                    <a class="fontMedium" href="{{project.link_web_store  }}">
                        <svg style="margin-right: 5px" xmlns="http://www.w3.org/2000/svg" width="13.875" height="13.875" viewBox="0 0 13.875 13.875"><defs><style>.a{fill:none;stroke:#fff;stroke-width:1.5px;}</style></defs><g transform="translate(-134.785 -131.875)"><g transform="translate(140.476 140.059) rotate(-90)"><path class="a" d="M0,0,3.327,3.327,0,6.655" transform="translate(4.706 0) rotate(45)"/><line class="a" x2="4.575" y2="4.575"/></g><path class="a" d="M5.216,0H8.471V8.471H0V4.9" transform="translate(144.005 136.529) rotate(90)"/></g></svg>
                        Visit website
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container infrastructure">
        {% include 'site/head/infrastructure.html' %}
    </div>
    <div class="container single-slider">
        <div class="single-item">
            {% for link in project.project_slider_images.all %}
                <div class="single-item-image">
                    <img src="/media/{{ link.image }}" alt="{{ project.name }}">
                </div>
            {% endfor %}
            </div>
        </div>
    <div class="container single-review">
        <div class="slider-flex">
            <div class="slider-images">
                <img class="slider-mainImage" src="/media/{{ project.reviews.first.customer.image  }}" alt="{{ project.name }}">
                <img class="slider-logo" src="/media/{{ project.head_image }}" alt="{{ project.name }}">
                <h3 class="slider-name fontMedium">{{ project.reviews.first.customer.name }}</h3>
                <p class="prof fontRegular">{{ project.reviews.first.customer.description }}</p>
            </div>
            <div class="slider-content">
                <p class="fontRegular">
                    {{ project.reviews.first.name }}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'site/head/work.html' %}
    </div>
    <div class="container">
    {% for link in project.project_images.all %}
        <div class="flex projectBlock {% if forloop.counter|divisibleby:2 %} row-reverse  {% endif %} ">
            <div class="imageSize">
                <img class="slider-mainImage" src="/media/{{ link.image }}" alt="{{ project.name }}">
            </div>
            <div class="single-info">
                <p class="h1 fontMedium">
                    {{ forloop.counter }}
                </p>
                <p class="fontRegular">
                    {{ link.description }}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="container next-project">
        <a href="{% url 'one_project' next_project.id %}">
            <div class="bg-project">
                <p class="fontMedium text-next">{% trans 'next_project' %}</p>
                <p class="h1 fontMedium title-project">{{ next_project.name }}</p>
                <div class="flex">
                    {% for area in next_project.area.all  %}
                    <span class="fontRegular">{{ area }}</span>
                    {% endfor %}
                </div>
                <img class="next-project-img" src="/media/{{ next_project.head_image }}" alt="{{ project.name }}">
                <svg class="next-arrow" xmlns="http://www.w3.org/2000/svg" width="100" height="48" viewBox="0 0 42 18.828"><defs><style>.ar,.br{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:2px;}.br{stroke-linejoin:round;}</style></defs><g transform="translate(1 1.414)"><line class="ar" x1="40" transform="translate(0 8)"/><path class="br" d="M0,0,8,8,0,16" transform="translate(32 0)"/></g></svg>
            </div>
        </a>
    </div>
</div>
{% endblock %}
