@import '../../../../styles/core/vars';
.blockOut{
    width: 100%;
    margin: 0 auto;
}
.searchBlock{
    display: flex;
    flex-direction: column;
    min-height: 125px;
    border: 1px solid $colorBorder;
    border-radius: 3px;
    background-color: $colorBg;
    padding: 28px 15px 25px;
}
.searchInputButton{
    width: 100%;
    display: flex;
}
.searchButton{
    width: 15%;
    height: 35.5px;
    background-color: $colorMain;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid $colorBorder;
    border-left: none;
}
.search{
    width: 85%;
    height: 3.5px;
    border: 1px solid $colorBorder;
    padding: 15px 10.5px;
}

.infoButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    button{
        display: inline-block;
        padding: 6px 8px;
        margin: 0 15px 7px 0;
        border: 1px solid $colorBorder;
        background-color: $colorWhite;
        &:last-child{
            margin: 0;
        }
    }
}
.inputBlock{
    width: 95%;
    margin: 0 auto;
    input[type="reset"]{
        background-color: transparent;
        border: none;
        border-bottom: 1px dotted #000;
        margin-top: 15px;
        cursor: pointer;
    }
}
.title{
    margin-top: 15px;
    font-weight: 500;
    font-size: 2rem;
}