@import '../../../index';

.content{
  width: 300px;
  margin-top: 40px;
}

.shadowBlock{
  background-color: $colorWhite;
  border-right: 5px;
  position: relative;
  min-height: 200px;
  max-width: 400px;
  padding: 20px;
  margin: 20px 0;
}
.buttonMainGlobal{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
