@import '../../../../index';

.gridTextArea{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.webInput{
  width: 300px;
  margin-top: 10px;
}
.gridBlockThree{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.flexColumnGlobal{
  margin-bottom: 10px;
  position: relative;
}
.gridTypeCompanies{
  display: grid;
  grid-template-columns: 100px 250px;

}

.companyType{
  height: 29px;
  align-self: center;
}
.regions{
  width: 306px;
  height: 29px;
  align-self: center;
}

.warning{
  position: absolute;
  color: red;
  top: 170px;
  right: 10px;
}
.inputGlobal{
  position: relative;
}
