@import '../../../styles/core/vars';

.container{
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
}

.infoBock {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $colorMain;
  background: $colorWhite;
}

.textarea {
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexEnd {
  align-items: flex-end;
}

.link {
  color: $colorMain;

  &:hover {
    text-decoration: underline;
  }
}

input[type=file] {
  margin-top:10px;
}

label {
  display: block;
  margin: 5px 0;
}

.label {
  margin-left: 10px;
}

.helpM {
  color: $colorGrey;
  margin: 10px 0 10px;
}
