@import '../../../styles/core/vars';

.container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 16px;

  .logo{
    display: flex;
    align-items: center;
    font-size: 38px;
    color: $colorMain;
    text-transform: uppercase;
  }
}
.header{
  height: 65px;
  background-color: $colorWhite;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.rightBlock{
  display: flex;
  align-items: center;
}
.phoneBlock{
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid $colorBorder;
  z-index: 999;
  .mail{
    margin-right: 20px;
  }
}
.phoneBlockInside{
  width: 220px;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 65px;
  background-color: $colorWhite;
  border: 1px solid $colorBorder;
  padding: 5px;
  .workDays{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  span{
    color: $colorGrey;
  }
}
.telContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-right: 40px;
  &:hover .phoneBlockInside{
    display: inline-flex;
  }
}

.exit{
  display: flex;
  align-items: center;
  margin-left: 40px;
  button{
    margin-right: 40px;
    transition: .3s;
    font-size: 18px;
  }
}

.userRoom{
  background-color: $colorMain;
  padding: 10px;
  border-radius: 5px;
  color: $colorWhite;
  margin-right: 25px;
  &:hover{
    background-color: darken($colorMain,10%);
  }
}
.enter{
  display: flex;
  align-items: center;
  color: $colorMain;
  padding: 2px;
}

.icon{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.iconTel{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.iconTel path, .icon path{
  fill: $colorMain;
}

.user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  border-right: 1px solid $colorBorder;
  .companyName{
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 18px;
  }
}