{% load static %}
{% load i18n %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'site/images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'site/images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'site/images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'site/images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'site/images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'site/images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'site/images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'site/images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'site/images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'site/images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'site/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'site/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'site/images/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'site/css/slick.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href=" {% static 'site/css/motion-ui.css'%}?{% now 'U' %}">
    <link rel="stylesheet" href=" {% static 'site/css/main.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href=" {% static 'site/css/media.css' %}?{% now 'U' %}">
    <title> {% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'site/partials/header.html' %}
    <div class="messageBlock fontRegular">
      {% trans 'mess_send-request' %}
    </div>
    <div class="messageSubscribed fontRegular">
        {% trans 'mess_sub_succ' %}
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <button class="scrollToTop" type="button" name="button"></button>
    <script src="{% static 'site/js/jquery.js' %}"></script>
    {% include 'site/partials/footer.html' %}
    <script src="{% static 'site/js/send-data.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'site/js/slick.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'site/js/countTo.js'%}?{% now 'U' %}"></script>
    <script src="{% static 'site/js/main.js'%}?{% now 'U' %}"></script>
    <script src="{% static 'site/js/subscribe.js'%}?{% now 'U' %}"></script>
</body>
