@import "../../../../index";

.containerConfirm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:50%;
  margin: 20px 0;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  background-color: $colorWhite;
}
.normalTextGlobal,.smallTextGlobal{
  margin-bottom: 10px;
}
.explanations{
  display: flex;
  flex-direction: column;
}
.buttonGlobal{
  cursor: pointer;
  input{
    display: none;
  }
}
.buttons{
  display: flex;
  button{
    margin-right: 20px;
  }
}
.explanations{
  width: 97.5%;
}
.textarea{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.error{
  color: red;
}