@import '../../../../index';

.blockTo{
  display: flex;
  flex-direction: column;
  background-color: $colorFooter;
  border: 1px solid $colorBorder;
  padding: 20px;
  margin-bottom: 10px;
}
.flexRowGlobal{
  align-items: center;
  margin-bottom: 20px;
}
.indent{
  margin-left: 40px;
}

.tableTitle,.tableRow{
  display: grid;
  border-bottom: 1px solid $colorBorder;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr ;
}
.tableTitle{
  font-weight: 600;
  padding-bottom: 10px;
}
.tableRow{
  padding: 20px 0;
}
.buttons{
  margin: 20px 0;
  button{
    margin-right: 20px;
  }
}