@import '../../../../index';

.signBlockHeader{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $colorBorder;
}

.csk{
  display: grid;
  grid-template-columns: 150px 450px;
  grid-gap: 20px;
  margin: 20px 0 10px;
  select{
    width: 100%;
    height: 100%;
  }
}
.privat{
  display: grid;
  grid-template-columns: 200px 180px;
  grid-column-gap: 20px;
  align-items: center;
  .input{
    display: none;
  }
}
.password{
  display: grid;
  grid-template-columns: 200px 180px 100px;
  grid-column-gap: 20px;
  align-items: center;
  .input{
    display: none;
    height: 100%;
  }
}

.buttonGlobal{
  text-align: center;
  margin: 0;
}
.buttonGlobalPassive{
  margin: 0;
}