* {
    outline: none;
    transition: all .3s;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
a,
a:hover{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "InterMedium";
    src: url("../fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "InterRegular";
    src: url("../fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.overflow {
    overflow: hidden;
}

.h1 {
    font-size: 72px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-color: #F2C81F;
    margin-top: 0;
}

.tabs-panel,
.fileName {
    display: none;
}

.tabs__caption {
  margin-bottom: 99px;
}

.tabs__content {
  opacity: 0;
  height: 0;
  transition: opacity 2s;
  z-index: -1;
  position: relative;
}

.tabs__content .tabsItem {
  opacity: 0;
  transition: opacity 2s;
}

.tabs__content.active .tabsItem {
  opacity: 1;
  transition: opacity 2s;
}

.tabs__content.active {
    opacity: 1;
    z-index: 0;
    height: auto;
    transition: opacity 2s;
    display: flex;
    justify-content: space-between;
}

.between {
    justify-content: space-between;
}

.flex,
.langs,
.menuItems,
.tabs__caption {
    display: flex;
    align-items: center;
}

.fontMedium {
    font-family: "InterMedium", sans-serif;
}

.fontRegular {
    font-family: "InterRegular", sans-serif;
}

.logo {
    font-size:24px;
    font-family: Poppins-SemiBold, Poppins;
    font-weight:600;
    margin: 0 62px 0 50px;
    display: flex;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgba(14, 14, 14, .1);
    z-index: 999;
}

.menuItem {
    margin-left: 20px;
}

.menuItem:first-child {
    padding-right: 15px;
    position: relative;
}

.numberOfWorks {
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .4;
    top: 0;
    position: absolute;
    right: 0;
    margin: 0;
}

.lastMenuItem {
    display: flex;
    align-items: center;justify-content: center;
    width: 214px;
    height: 70px;
    background: #F2C81F;
    color: #fff;
    margin-left: 50px;
}

.lastMenuItem  img {
    margin-left: 10px;
}

.langs {
    margin-top: 3px;
}

.lang {
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 5px;
    opacity: .3;
}

.lang:hover {
    opacity: 1;
}

.active-lang {
    opacity: 1;
}

main {
    margin-top: 70px;
    overflow: hidden;
}

.container {
    max-width: 1521px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.banner {
    height: 600px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    position: relative;
}

.works {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 71px;
}

.bannerTitle {
    font-size: 72px;
    max-width: 671px;
    margin-top: 0;
}

.bannerTitle span {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-color: #F2C81F;
}

.banner .timer {
    margin: 0;
    font-size: 92px;
    color: #F2C81F;
}

.timer-block {
    margin: 0 0 0 82px;
}

.timer-block .timer:first-child {
    width: 98px;
}

.opacityText {
    opacity: .5;
}

.timers {
    position: absolute;
    bottom: 120px;
    right: 20px;
}

.tabs {
    margin-top: 120px;
    overflow: visible;
}

.tabs__caption a {
    margin-right: 5px;
    padding: 15px 25px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    cursor: pointer;
}

.tabs__caption .active,
.tabs__caption a:hover {
    border-color: #fff;
    color: #E4E4E4;
}

.tabsItem {
    text-align: center;
    max-width: 33%;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
}

.bigImg {
    width: 100%;
    max-width: 487px;
    height: 620px;
    overflow: hidden;
}

.smallImg {
    width: 100%;
    max-width: 409px;
    height: 520px;
    overflow: hidden;
}

.tabsItem:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    opacity: 0;
    z-index: 10;
    left: 0;
    top: 0;
}

.tabsItem:hover:before {
    opacity: .7;
}

.tabsItemLink {
    position: absolute;
    bottom: 71px;
    left: 0;
    font-size: 30px;
    z-index: 99;
    opacity: 0;
    width: 100%;
    text-align: left;
}

.tabsItemLink span {
    color: #999999;
    margin-right: 10px;
    font-size: 16px;
}

.tabsItem:hover .tabsItemLink {
    opacity: 1;
}

.tabsItemLink:after {
    content: url("../images/blackArrow.svg");
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.bigImg ~ .tabsItemLink {
    left: -20px;
}

.allProjects:before {
    display: none;
}

.Project {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 5px solid rgba(14, 14, 14, .05);
    flex-direction: column;
}

.Project  h2{
    font-size: 40px;
}

.Project .column {
    max-width: 215px;
    text-align: left;
}

.Project:hover .column img {
    margin-left: 20px;
}

.bg {
    margin-top: 80px;
    background-color: #F8F8F8;
    padding: 120px 0 230px;
}

.review + .bg {
    padding-bottom: 120px;
}

.row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    justify-content: space-between;
    padding-bottom: 120px;
    margin-bottom: 120px;
}

.border,
.blog {
    position: relative;
    border-bottom: none;
}

.border.row:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 1px;
    height: 364px;
    background: rgba(0, 0, 0, .2);
}

.row-reverse {
    flex-direction: row-reverse;
}

.row img {
    margin: 0 50px;
}

.blockInfo {
    width: 43%;
}

.row .blockInfo h2 {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-color: #F2C81F;
    font-size: 56px;
    margin-bottom: 40px;
}

.row .blockInfo p {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 50px;
}

.complete {
    width: auto;
    margin-right: 30px;
}

.blockInfo .technology {
    width: auto;
    text-align: center;
    margin-right: 15px;
}

.row .blockInfo .technology svg {
    margin: 0 0 10px 0;
    width: 30px;
    height: 30px;
}

.row .blockInfo .technology img {
  margin: 0 0 10px 0;
  height: 30px;
}

.row .blockInfo .technology svg.iconPhp {
  width: 45px;
  height: 45px;
  margin-bottom: 5px;
}

.row .blockInfo .technology svg.iconC {
  width: 80px;
  height: 40px;
  margin-bottom: 5px;
}

.row .blockInfo .complete .num,
.row .blockInfo .technology .num{
    margin: 0;
    font-size: 46px;
}

.row .blockInfo .complete .text,
.row .blockInfo .technology .text {
    margin: 0;
    font-size: 16px;
    opacity: .5;
}

.blockInfo .flex {
    position: relative;
    align-items: flex-end;
    flex-wrap: wrap;
}

.blockInfo .readMore {
    color: #F2C81F;
    font-size: 24px;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 80%;
    padding-right: 50px;
    text-align: right;
    position: relative;
}

.blog .showAll {
    right: 0;
    top: 30px;
    color: #F2C81F;
    font-size: 24px;
    position: absolute;
}

.aboutUS {
    color: #F2C81F;
    font-size: 24px;
}

.aboutUS:hover {
    color: #F2C81F;
    opacity: .6;
}

.aboutUS:after,
.blog .showAll:after {
    content: url("../images/readMore.svg");
    padding-left: 15px;
    transition: all .3s;
    padding-right: 5px;
}

.blockInfo .readMore:after {
  content: url("../images/readMore.svg");
  position: absolute;
  right: 10px;
    top: 50%;
    transform: translateY(-50%);
  transition: all .3s;
}

.blockInfo .readMore:hover:after {
    right: 0;
    transition: all .3s;
}

.fit {
    height: 499px;
    max-width: 745px;
}

.row .imgFit {
    margin: 0;
    max-height: 499px;
    width: 100%;
}

.slider-block .h1 {
    min-width: 450px;
    width: 450px;
    float: left;
    margin-right: 150px;
    height: auto;
}

.slick-disabled {
    display: none!important;
}

.customBtn {
    width: 80px;
    min-width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    margin: 0 20px;
}

.slider-nav {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 280px;
}

.slider-nav .slick-slide {
  display: none;
}

.slider-nav .slick-active {
  display: block;
}

.customBtn.slick-prev {
    transform: rotate(180deg);
}

.slider-nav .slick-track{
    width: auto!important;
    transform: none!important;
}

.slider-nav .slick-slide {
    width: 100px!important;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
}

.slider-nav .slick-list {
    padding: 0!important;
}

.slider-flex {
    display: flex!important;
}

.slider-images {
    position: relative;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
}

.slider-images .slider-mainImage{
    width: 220px;
    height: 270px;
}

.slider-images .slider-logo {
    position: absolute;
    top: 150px;
    right: -30px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.slider-content {
    max-width: 642px;
    display: flex;
    flex-direction: column;
}

.slider-content p {
    margin: 0;
    font-size: 24px;
}

.slider-content a {
    margin-top: 30px;
    font-size: 24px;
    color: #F2C81F;
}

.slider-block {
    align-items: flex-start;
    margin-top: 180px;
    padding-bottom: 120px;
    margin-bottom: 120px;
    /*border-bottom: 1px solid rgba(0, 0, 0, .2);*/
}

.slider-name {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 24px;
}

.prof {
    margin: 0;
}

.visible {
    overflow: visible;
}

.h2{
    font-size: 56px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-color: #F2C81F;
    margin: 0;
}

.review,
.work {
    margin-bottom: 180px;
    align-items: flex-start;
}

.reviews {
    margin-right: 30px;
}

.reviews div{
    width: 185px;
    height: 185px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 40px;
    position: relative;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    overflow: hidden;
}

.reviews div img {
  width: 100%;
}

.review-starts {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #F2C81F;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 5px;
    margin: 0;
}

.review-starts:before {
    content: url("../images/star.svg");
}

.stack {
    width: 23%;
    display: flex;
    flex-direction: column;
}

.stackImg {
    width: 168px;
    height: 108px;
}

.technologyBlock {
    margin-top: 80px;
}

.titleStack {
    margin: 27px 0 15px;
    font-size: 36px;
}

.descriptionStack {
    margin: 0;
    font-size: 18px;
}

.stack:nth-child(2) {
    padding: 0 96px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.is-active {
    display: block;
}

.work {
    margin-top: 180px;
}

.work .flex {
    justify-content: space-evenly;
}

.work .column {
    width: 100%;
}

.tabs-title {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 79px;
    position: relative;
    transition: none;
}

.tabs-title.is-active {
    color: #F2C81F;
    transition: none;
}

.tabsContent {
    padding-top: 292px;
    position: relative;
    max-width: 965px;
}

.tabsContent .tabs-panel {
  min-height: 330px;
}

.tabs-title:first-child:before {
    content: '';
    width: 194px;
    height: 121px;
    background: #F7F7F7;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -146px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.tabs-title:nth-child(2):before {
    content: '';
    width: 248px;
    height: 200px;
    background: #EEEEEE;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -225px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.tabs-title:nth-child(3):before {
    content: '';
    width: 399px;
    height: 292px;
    background: #E4E4E4;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -317px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.tabs-title:nth-child(4):before {
    content: '';
    width: 211px;
    height: 229px;
    background: #EEEEEE;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -254px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.tabs-title:nth-child(5):before {
    content: '';
    width: 169px;
    height: 65px;
    background: #F7F7F7;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.tabs-title.is-active:first-child:before,
.tabs-title.is-active:nth-child(2):before,
.tabs-title.is-active:nth-child(3):before,
.tabs-title.is-active:nth-child(4):before,
.tabs-title.is-active:nth-child(5):before {
    background: #F2C81F;
    cursor: pointer;
}

.tab-time,
.tab-result {
    opacity: .2;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

.tab-result {
    margin-top: 20px;
}

.h3 {
    margin: 0;
    font-size: 24px;
}

.tab-description {
    font-size: 24px;
    min-width: 600px;
    width: 603px;
    margin-right: 0;
    margin-left: auto;
}

.subscribe {
    padding: 70px 120px 70px 100px;
    background: #F2C81F;
    border-radius: 10px;
}

.border-block{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 120px 0;
}

.subscribe form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe form p {
    margin: 0;
    color: #fff;
    font-size: 36px;
    max-width: 260px;
}

.subscribe form button {
    margin: 0;
    color: #fff;
    font-size: 24px;
    padding: 0;
}

.subscribe form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 15px 0;
    color: rgba(255, 255, 255, .5);
    font-size: 24px;
    font-family: "InterMedium", sans-serif;
    width: 46%;
}

.subscribe form input::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 24px;
    font-family: "InterMedium", sans-serif;
}

.blog {
    margin-bottom: 200px;
}

.blog > a {
  display: block;
}

.blogCount {
    font-size: 46px;
    margin-left: 20px;
    text-decoration: none;
    opacity: .1;
}

.blogItems {
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blogItems {
    margin-left: -20px;
    margin-right: -20px;
}

.blogItem {
    width: 31%;
}

.blogImage {
    width: 100%;
    height: 288px;
    object-fit: cover;
    margin-bottom: 25px;
}

.blogDescription {
    font-size: 18px;
    padding: 0 20px 13px;
    margin: 0;
}

.blogHashtag {
  align-items: baseline;
}

.blogHashtag a {
    font-size: 12px;
    color: #F2C81F;
    margin-right: 10px;
    margin-bottom: 10px;
}

.blogHashtag a span {
    opacity: .5;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.blogHashtag span {
  font-size: 12px;
  margin-right: 5px;
}

footer {
    position: relative;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 40px;
}

footer form {
    max-width: 535px;
    width: 100%;
}

footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    bottom: 0;
    background: #F8F8F8;
    height: 100%;
    z-index: -1;
}

footer [type="checkbox"]:checked,
footer [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

footer [type="checkbox"]:checked + label,
footer [type="checkbox"]:not(:checked) + label,
.formTitle {
    cursor: pointer;
    font-family: "InterMedium", sans-serif;
    font-size: 16px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

footer [type="checkbox"]:not(:checked) + label {
    padding: 13px 23px;
    margin-right: 6px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
}

footer [type="checkbox"]:checked + label {
  background: #f2f2f2;
  padding: 15px 23px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  margin-right: 6px;
}

.formTitle {
    margin-right: 20px;
    color: #CCCCCC;
}

.footerInput {
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 24px;
    max-width: 521px;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 10px;
}

.flex + .footerInput {
    margin-top: 35px;
}

input[type="file"] {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.btn {
    color: #F2C81F;
    font-family: "InterMedium", sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

.btn:before {
    content: url("../images/paperclip.svg");
    margin-right: 5px;
}

.file-selected {
    font-size: 10px;
    text-align: center;
    width: 100%;
    font-family: "InterMedium", sans-serif;
    display: block;
    margin-top: 5px;
}

.sr-only {
    display: none;
}

.formSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2C81F;
    border: 1px solid #F2C81F;
    border-radius: 8px;
    width: 236px;
    height: 59px;
}

.submit {
    margin-top: 50px;
}

.formSubmit img {
    margin-left: 10px;
}

.input-file {
    display: flex;
    flex-direction: column;
}

footer .h1 {
    margin-bottom: 50px;
}

.footerLink {
    padding: 12px 20px;
    background: #F8F8F8;
    border-radius: 5px;
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.location {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.location .h3 {
    margin: 40px 0 30px;
}

.footerLink img {
    margin-right: 15px;
}

.followUs {
    margin-bottom: 30px;
}

.footerFollow {
    margin-bottom: 300px;
}

.range-container {
    position: relative;
    width: 241px;
}

.marginRange{
    margin-left: 39px;
}

.range-container .bar {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 3px;
    border-radius: 2px;
    background-color: rgba(14, 14, 14, .1);
    overflow: hidden;
    width: 100%;
}

.range-container .bar .fill {
    display: block;
    width: 0;
    height: 100%;
    background-color: #F2C81F;
}

.range-container .range {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    -webkit-appearance: none;
    margin: 0;
    background-color: rgba(14, 14, 14, .1);
}

.range-container .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #F2C81F;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 0 5px #fff;
    cursor: pointer;
}

footer .container {
    overflow: visible;
    align-items: flex-start;
}

.rangeBlock > p {
    color: rgba(0, 0, 0, .3);
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.range-container + p {
    margin: 0;
    text-align: right;
    font-size: 12px;
}

.subscribeError,
.subscribeErrorFormat {
  display: none;
  color: #B75050;
}

.wrap {
  flex-wrap: wrap;;
}

.flexItems {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -10px;
  margin-right: -10px;
  width: 100%;
}

.allProjects {
  margin-left: auto;
}

.errorText,
.errorMailFormat,
.errorPhoneFormat {
  margin: 0;
  display: none;
  color: #B75050;
}

.showError {
  display: block;
}

.messageBlock,
.messageSubscribed {
  display: none;
  width: 100%;
  height: 39px;
  font-size: 15px;
  background: #F2C81F;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.show {
  display: flex;
  z-index: 99;
}

.activeShow .header {
  top: 39px;
}

.slider-nav .slick-slide img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.fileName {
  align-items: center;
}

.hide {
  display: none;
}

.deleteFile {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.blogItem:hover .blogImage {
  opacity: .7;
}

.fileName span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.noChecked {
  border-color: #B75050!important;
}

.activeItem,
.menuItem:hover .fontMedium  {
  color: #F2C81F;
}

.tabsItemLink p {
  margin: 0;
  max-width: 80%;
}

.pagination {
  display: flex;
  margin: auto;
  max-width: 320px;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  height: 54px;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
}

.pagination a{
  color: inherit;
}

.pagination li {
  color: #F2C81F;
  font-family: "HelveticaNeueCyr";
  font-size: 16px;
  font-weight: 100;
  margin: 0 6px;
}

.pagination .active,
.pagination .dots  {
  color: #000;
  opacity: .1;
}

.pagination .page-item.disabled {
  color: rgba(0, 0, 0, .1);
}

.pagination .page-item {
  padding: 26px 20px;
  margin: 0;
}

.pagination .page-item.disabled {
  position: relative;
  margin-right: 24px;
}

.pagination .page-item.disabled:last-child {
  margin-left: 24px;
  margin-right: 0;
}

.pagination .page-item:first-child  svg {
  transform: rotate(180deg);
}


.pagination .page-item:first-child  svg + svg {
  transform: translate(0);
}

.page-item:first-child.disabled .first,
.page-item:last-child .second,
.page-item:first-child .second,
.page-item:last-child.disabled .first {
  display: none;
}

.page-item:hover {
  background: #E2BA1B;
}

.page-item:last-child.disabled .second,
.page-item:first-child.disabled .second  {
  display: block;
}

.pagination .page-item:last-child svg + svg {
  transform: rotate(180deg);
}

.page-item {
  background: #FEFAE8;
}

.page-item.disabled,
.page-item.disabled:hover {
  background: transparent;
}

.disabled:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  background: #000;
  opacity: .1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pagination .page-item.disabled:last-child::after {
  right: 100%;
}

.showAll:hover::after,
.aboutUS:hover::after {
  padding-left: 20px;
  padding-right: 0;
}

.servicesTabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.servicesTabs #example-tabs {
  justify-content: center;
  align-items: flex-end;
}

.services-tabs-title a {
  display: flex;
  flex-direction: column;
}

.services-tabs-title img {
  min-height: 180px;
}

.tabCircle {
  margin: 18px auto 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #FBEEBF;
  background: #fff;
}

.is-active .tabCircle {
  border: 4px solid #F2C82B;
  margin: 16px auto 10px;
  background: #fff;
}

.services-tabs-title .fontMedium {
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: rgba(0, 0, 0, .3);
}

.services-tabs-title.is-active .fontMedium {
  color: #F2C81F;
}

.services-tabs-title {
  width: 100%;
  position: relative;
    max-width: 255px;
}

.services-tabs-title::after{
  position: absolute;
  bottom: 45px;
  content: '';
  height: 2px;
  background: #FBEEBF;
  left: 0;
  right: 0;
  z-index: -1;
}

.services-tabs-title:first-child::after {
  left: 50%;
}

.services-tabs-title:last-child::after {
  right: 50%;
}

.services-tabs-title.is-active::after {
  background: #F2C82B;
}

.servicesTabs .tabs-panel {
  margin-top: 70px;
  padding-bottom: 180px;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.services-tabs-title .first,
.services-tabs-title.is-active .second {
  display: block;
}

.services-tabs-title img {
    height: 145px;
}

.services-tabs-title .second,
.services-tabs-title.is-active .first {
  display: none;
}

.servicesTabs .tabs-panel .flex {
  justify-content: center;
}

.servicesTabs .tabs-panel p {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.servicesTabs .tabs-panel img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
}

.servicesTabs .tabs-panel svg {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.servicesTabs .tabs-panel .iconC {
  width: 80px;
  height: 45px;
  margin-bottom: 0;
}

.scrollToTop {
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #F2C81F;
  background-image: url("../images/readMore.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
  background-size: 50%;
  z-index: 99999;
  display: none;
}

.scrollToTop.showBtn {
  display: block;
}

.scrollToTop:hover {
  background-color: #FBEEBF;
}

.works .bannerTitle {
  margin-top:  130px;
}

.services {
  border: none;
}

.services .bannerTitle {
  max-width: 730px;
}

.tabs-panel .column {
  width: 30%;
}

#submit_btn {
    font-size: 16px;
}

#submit_btn svg {
    margin-left: 5px;
}

#submit_btn:hover {
    background-color: #F2C81F;
    color: #fff;
}


#submit_btn:hover .as,
#submit_btn:hover .bs{
    stroke:#fff;
}

.projectBanner {
    height: 670px;
    position: relative;
}

.breadcrumb {
    margin: 0;
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    opacity: 0;
}

.breadcrumb-item:after {
    content: ' / ';
}

.breadcrumb-item {
    margin-right: 5px;
    font-size: 16px;
    color: #fff;
    opacity: .5;
}

.breadcrumb-item:last-child:after{
    content: '';
}

.projectBanner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
}

.projectBanner img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.bannerContainer {
    margin: 200px auto 0;
    max-width: 1420px;
    width: 100%;
    position: relative;
}

.bannerContainer .h1 {
    color: #fff;
    margin: 0 0 50px;
}

.projectBannerText {
    color: #fff;
    font-size: 20px;
    margin: 0;
    max-width: 633px;
}

.projectBannerInfo {
    height: 200px;
    background: #F8F8F8;
    position: absolute;
    right: 14%;
    bottom: -40px;
    width: 100%;
    max-width: 444px;
    padding: 50px;
}

.bannerInfoItem {
    width: 50%;
    margin-bottom: 20px;
}

.bannerInfoItem p {
    margin: 0;
}

.projectBannerInfo .flex {
    flex-wrap: wrap;
}

.bannerInfoItem .fontRegular {
    font-size: 16px;
    color: rgba(0, 0, 0, .5);
}

.bannerInfoItem .fontMedium {
    font-size: 20px;
}

.projectDesc {
    margin: 170px auto 120px;
    max-width: 1420px;
    font-size: 30px;
}

.video {
    max-width: 1620px;
    height: 800px;
    margin: auto;
    position: relative;
}

.video video {
    height: 800px;
}

.play {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0 , .3);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.play-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.play.hide {
    display: none;
}

.projectBG {
    margin-bottom: 180px;
    padding-top: 150px;
    padding-bottom: 0;
    position: relative;
}

.projectBG .textDesc {
    margin: 30px 0 70px;
    font-size: 20px;
}

.infoProject {
    max-width: 633px;
}

.projectBG .flex {
    align-items: flex-start;
}

.projectBG .flex .textDesc {
    margin-top: 0;
    margin-bottom: 0;
}

.projectBG .textDesc.fontMedium {
    max-width: 70px;
    margin-right: 70px;
}

.infoProject .flex + .flex {
    margin-top: 30px;
    padding-bottom: 150px;
}

.projectBG .container {
    position: relative;
    overflow: visible;
}

.blackBG {
    position: absolute;
    background: #000;
    padding: 50px 50px 52px;
    max-width: 523px;
    top: 100px;
    right: 0;
    width: 100%;
}

.blackBG h4 {
    margin: 0 0 23px;
    color: #fff;
    font-size: 20px;
}

.blackBG li {
    color: #fff;
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 15px;
    max-width: 410px;
    position: relative;
}

.blackBG p {
    color: #fff;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(255, 255,255, .3);
}

.blackBG li:before {
    position: absolute;
    content: '';
    top: 12px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #fff;
}

.blackBG .flex {
    justify-content: space-between;
    align-items: center;
}

.blackBG .flex svg {
    margin-right: 15px;
}

.blackBG .flex a {
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.blackBG UL {
    margin-bottom: 25px;
}
services-tabs-title
.infrastructure {
    border-top: 1px solid rgba(0, 0, 0, .1);
    /*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
    padding: 180px 0;
    margin-bottom: 180px;
}

.single-slider {
    overflow: visible;
}

.single-item .customBtn {
    width: 92px;
    height: 92px;
}

.single-item {
    position: relative;
}

.single-item .slick-list {
    max-height: 800px;
}

.single-item .customBtn {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: none;
    background: #F8F8F8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.single-item .customBtn.pull-left {
    left: -60px;
    transform: translateY(-50%) rotate(-180deg);
}

.single-item .customBtn.pull-right {
    right: -60px;
}

.single-slider .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.single-slider {
    padding-bottom: 180px;
}
.single-slider .slick-dots li button {
    font-size: 0;
}

.single-slider .slick-dots li {
    width: 6px;
    height: 6px;
    margin: 1px 1.5px;
    border: 1px solid #F2C82B;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.single-slider .slick-dots li.slick-active {
    padding: 0;
    width: 8px;
    height: 8px;
    margin: 0 1.5px;
    background: #F2C82B;
}

.single-review {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 100px 0 100px 100px;
    margin-bottom: 180px;
}

.single-review .slider-content {
    max-width: 810px;
}

.single-review .slider-content p {
    font-size: 30px;
}

.imageSize {
    max-width: 785px;
    height: 500px;
}

.imageSize img {
    width: 100%;
    height: 100%;
}

.projectBlock {
    justify-content: space-between;
    margin-bottom: 180px;
}

.single-info {
    max-width: 660px;
}

.single-info .h1 {
    text-decoration: none;
    font-style: italic;
    padding-left: 30px;
    border-left: 5px solid #F2C81F;
    margin-bottom: 25px;
}

.single-info .fontRegular {
    font-size: 30px;
}

.oneProject .container {
    max-width: 1620px;
}

.next-project {
    overflow: visible;
    margin-top: 200px;
    margin-bottom: 180px;
}

.bg-project {
    background: #F2C81F;
    padding: 84px 120px 133px;
    position: relative;
}

.text-next {
    font-size: 36px;
    margin: 0;
    color: #fff;
    opacity: .5;
}

.title-project {
    color: #fff;
    margin: 5px 0 0;
}

.bg-project span {
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
}

.next-project-img {
    width: 640px;
    height: 420px;
    position: absolute;
    right: 50px;
    top: -100px;
}

.next-arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-block .timer-block:first-child{
    margin: 0;
    width: auto;
}

.top-block .timer-block {
    width: 160px;
}

.company-info p {
    font-size: 24px;
    max-width: 92%;
    margin-top: 100px;
    margin-bottom: 0;
    line-height: 34px;
}

.top-block {
    align-items: flex-end;
    padding: 180px 0;
}

.top-block .banner {
    height: auto;
    border: 3px solid rgba(0, 0, 0, .1);
    padding: 74px 85px 91px;
}

.company-image {
    margin: 0 auto 220px;
    max-width: 1620px;
}

.company-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company .bg {
    padding: 180px 0;
}

.company .bg.bg-block {
    padding: 0 0 180px;
}

.company .slider-block {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.company-desc {
    max-width: 46%;
}

.company-desc p {
    font-size: 24px;
    line-height: 36px;
}

.company .between {
    align-items: flex-start;
}

.center.slick-initialized .slick-slide {
    margin: 0 50px 0 0;
}

.center {
    margin-bottom: 200px;
}

.center.slick-initialized .slick-list {
    padding-left: 0!important;
    padding-right: 100px!important;
}

.center-slider .tabsItemLink {
    position: relative;
    bottom: 0;
    opacity: 1;
    margin-top: 40px;
}

.bigImg,
.smallImg {
    object-fit: cover;
}

.center-slider .tabsItemLink:after {
    right: 20px;
}

.story {
    margin-top: 220px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 180px;
}

#viewContainer {
    overflow: hidden;
    white-space: nowrap;
}

.page {
    width: 350px;
    height: 100%;
    display: inline-block;
}

.story-year {
    font-size: 56px;
    margin: 0 0 40px;
    position: relative;
}

.story-year:before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #707070;
    top: 60px;
    left: 60px;
}

.story-year:after {
    content: '';
    position: absolute;
    width: 36px;
    top: 45px;
    left: 45px;
    height: 36px;
    border-radius: 50%;
    z-index: -1;
    border: 1px solid rgba(0, 0, 0, .1);
}

.active .story-year:before {
    background: #F2C81F;
}

.active .story-year,
.active .fontRegular{
    color: #F2C81F;
}

.page-line {
    width: 103%;
    position: absolute;
    height: 1px;
    background: #707070;
    top: 48px;
    z-index: -1;
    left: 0;
}

.page:first-child .page-line {
    left: 60px;
}


.page:last-child .page-line {
    width: 60px;
}

.page {
    position: relative;
}

.page p {
    cursor: pointer;
}

.page .fontRegular {
    font-size: 24px;
    margin: 0 0 5px;
    padding-left: 44px;
}

.company-links {
    margin-top: 180px;
    margin-bottom: 180px;
}

#viewContainer {
    margin-top: 100px;
    height: 300px;
}

.company-link {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.company-link svg {
    width: 100px;
    height: 48px;
    margin-top: 30px;
}

.company-link svg path,
.company-link svg line{
    stroke: #F8F8F8;
}

.company-link:hover {
    color: #F2C82B;
}

.company-link:hover svg path,
.company-link:hover svg line{
    stroke: #F2C82B;
}

.page-blog {
    margin-top: 60px;
    position: relative;
}

.page-blog .blogCount{
    display: none;
}

.page-blog .fontRegular.blogTime {
    color: rgba(0, 0, 0, .5);
}

.page-blog .blogItem {
    margin-bottom: 50px;
}

.page-blog h1 {
    position: absolute;
    top: 98px;
    left: 0;
    margin: 0;
}

.page-blog .tabs__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -20px;
}

.page-blog .bigBlog {
    width: 64.3%;
    background: #F8F8F8;
    position: relative;
    height: 316px;
}

.page-blog .bigBlog .blogImage {
    width: 409px;
    height: 260px;
    margin: 28px 30px 28px 36px;
}

.blogItem .blogMore {
    display: none;
}

.blogItem .blogDescription + .fontRegular {
    display: none;
}

.page-blog .bigBlog .blogMore {
    display: flex;
    align-items: center;
    color: #F2C82B;
    position: absolute;
    right: 80px;
    bottom: 28px;
}

.page-blog .bigBlog .blogMore svg {
    margin-left: 10px;
}

.bigBlog a{
    display: flex;
}

.bigBlog .blogTime {
    position: absolute;
    left: 475px;
    bottom: 28px;
}

.bigBlog .blogHashtag a.fontMedium {
    position: absolute;
    top: 40px;
    left: 475px;
}

.bigBlog .blogDescription + .fontRegular {
    color: #000;
    display: block;
    font-size: 14px;
    max-width: 480px;
    margin: 15px 0;
}

.bigBlog .blogDescription {
    padding: 73px 0 0;
    max-width: 360px;
    width: 100%;
}

.page-blog .tabs__caption{
    padding-left: 250px;
    flex-wrap: wrap;
}
