
/* media 1700px */

@media screen and (max-width: 1700px) {
  .container {
      max-width: 1080px;
  }

  .oneProject .container,
  .container.next-project {
    max-width: 1152px;
  }

  .share-links svg {
    margin-left: 30px;
  }

  .company-info p {
    font-size: 16px;
    margin-top: 50px;
  }

  .page {
    width: 230px;
  }

  .top-block .banner {
    padding: 20px;
  }

  .company-image {
    height: 500px;
  }

  .company-desc {
    max-width: 55%;
  }

  .company .bg {
    padding: 90px 0;
  }

  .company .bg.bg-block {
    padding: 0 0 90px;
  }

  .company-image {
    margin-bottom: 100px;
  }

  .projectBanner {
    height: 477px;
  }

  .single-item .slick-list {
    max-height: 569px;
  }

  .container.single-review .slider-flex {
    margin-left: 70px;
    margin-right: 70px;
  }

  .single-review {
    padding: 71px 0;
  }

  .projectBannerInfo {
    height: 152px;
    max-width: 314px;
  }

  .bannerContainer {
    max-width: 100%;
    margin: 100px 16% 0;
  }

  .video {
    max-width: 1152px;
    height: 570px;
  }

  .video video {
    height: 570px;
  }

  .projectDesc {
    max-width: 1010px;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  .single-review .slider-content p {
    font-size: 21px;
    max-width: 70%;
  }

  .single-info .fontRegular {
    font-size: 21px;
  }

  .imageSize {
    height: 413px;
    max-width: 558px;
  }

  .single-info {
    width: 44%;
  }

  .projectBannerText {

    max-width: 443px;
  }

  .projectBannerText,
  .bannerInfoItem .fontMedium,
  .projectBG .textDesc,
  .blackBG .flex a,
  .blackBG li,
  .blackBG p {
    font-size: 14px;
  }

  .blackBG h4 {
    font-size: 16px;

  }

  .text-next,
  .share h2{
    font-size: 25px;
  }

  .infoProject .flex + .flex {
    padding-bottom: 70px;
  }

  .blackBG {
    padding: 35px;
    top: 0;
    max-width: 373px;
  }

  .bg-project {
    padding: 60px 85px 94px;
  }

  .next-arrow {
    width: 71px;
    height: 34px;
  }

  .bannerInfoItem .fontRegular,
  .bg-project span {
    font-size: 11px;
  }

  .projectBannerInfo {
    padding: 34px 36px;
  }

  .projectBG .textDesc {
    margin-bottom: 30px;
  }

  .projectDesc {

    font-size: 20px;
    line-height: 28px;
  }

  .next-project-img {
    width: 427px;
    height: 280px;
    right: 40px;
  }

  .services-tabs-title img {
    width: 70%;
    margin: auto;
    min-height: 100px;
  }

  .row .blockInfo .complete .text, .row .blockInfo .technology .text {
    font-size: 15px;
  }

  .h3 {
    font-size: 16px;
  }

  .fit {
      height: 283px;
      max-width: 529px;
  }

  .subscribe {
    position: relative;
  }

  .subscribeError, .subscribeErrorFormat {
    position: absolute;
    top: 140px;
    left: 41%;
    transform: translateX(-50%);
  }

  .rangeBlock > p {
    font-size: 17px;
  }

  .rangeWeek + p,
  .rangeBudget + p {
    margin-top: 7px;
    font-size: 12px;
  }

  .descriptionStack {
    font-size: 12px;
  }

  .bigImg {
    height: 441px;
  }

  .smallImg {
    height: 369px;
  }

  .subscribe form p {
    font-size: 25px;
  }

  .stack svg {
    width: 70px;
  }

  .titleStack {
    font-size: 24px;
  }

  .stack:nth-child(2) {
    padding: 0 67px;
  }

  .bg {
    padding: 80px 0 30px;
  }

  .customBtn {
    width: 56px;
    min-width: 56px;
    height: 56px;
    margin: 0 10px;
  }

  .reviews div {
    width: 131px;
    height: 132px;
  }

  .slider-images .slider-mainImage {
    width: 157px;
    height: 100%;
    object-fit: cover;
  }

  .slider-nav .slick-slide {
    width: 66px!important;
  }

  .slider-block .h1 {
    max-width: 298px;
    width: 100%;
    min-width: 298px;
    font-size: 49px;
  }

  .slider-images .slider-logo {
    width: 66px;
    height: 66px;
  }

  .slider-nav .slick-slide img {
    width: 66px;
    height: 66px;
  }

  .imageBlockInfo {
    width: 30%;
  }

  .imageBlockInfo img {
    margin: 0;
    width: 100%;
  }

  .row .blockInfo h2,
  .h2,
  .row .blockInfo .complete .num, .row .blockInfo .technology .num {
    font-size: 39px;
  }

  .row .blockInfo p,
  .tab-description {
    font-size: 16px;
  }

  .h1 {
    font-size: 49px;
  }

  .tabsContent {
    max-width: 686px;
  }

  .tabs-title {
    font-size: 13px;
  }

  .tab-time,
  .tab-result {
    font-size: 14px;
  }

  .tab-description {
    min-width: 402px;
    width: 402px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .tabs-panel .flex.between {
    align-items: flex-start;
  }

  .tabs-panel .column {
    max-width: 230px;
  }

  .tabs-title:first-child:before {
    width: 138px;
    height: 86px;
    top: -102px
  }

  .tabs-title:nth-child(2):before {
    width: 177px;
    height: 142px;
    top: -158px;
  }

  .tabs-title:nth-child(3):before {
    width: 284px;
    height: 207px;
    top: -223px;
  }

  .tabs-title:nth-child(4):before {
    width: 150px;
    height: 163px;
    top: -179px;
  }

  .tabs-title:nth-child(5):before {
    width: 150px;
    height: 46px;
    top: -62px;
  }

  footer form {
    max-width: 370px;
  }

  .range-container {
    width: 165px;
  }

  .h3 {
    font-size: 16px;
  }

  .footerLink {
    font-size: 16px;
    padding: 12px 24px 12px 15px;
    margin-right: 7px;
  }

  .footerLink img {
    width: 16px;
    margin-right: 10px;
    height: 16px;
  }

  footer form + div {
    max-width: 412px;
    width: 100%;
  }
  .tabsItemLink:after{
    right: 20px;
  }
}

/* media 1600px */

@media screen and (max-width: 1600px) {
    .tabs {
      margin-top: 71px;
    }

    .blogCount {

      font-size: 32px;
      margin-left: 14px;
    }

    .blogImage {
      height: 204px;
    }

    .oneProject .container {
      max-width: 70%;
    }

    .infoProject {
      max-width: 400px;
    }

    .tabs__caption {

      margin-bottom: 57px;
    }

    .tabsItem {

      margin-left: 6px;
      margin-right: 6px;
    }
    

    .bigImg ~ .tabsItemLink {
        left: 0;
    }

    .slider-block {
      margin-top: 60px;
      margin-bottom: 60px;
      padding-bottom: 60px;
    }

    .bannerContainer .h1 {

      margin-bottom: 33px;
    }

    .row {
      padding-bottom: 60px;
      margin-bottom: 60px;
    }

    .review, .work {
      margin-bottom: 60px;
    }

    .blog {
      margin-bottom: 134px;
    }

    footer {

      padding-top: 85px;
    }

    .servicesTabs .tabs-panel {
      padding-bottom: 60px;
    }

    .border-block {
      margin: 60px 0;
    }

    .work {
      margin-top: 60px;
    }

    .review + .bg {
      padding-bottom: 60px;
    }

    .bannerTitle,
    .h1,
    .banner .timer {
      font-size: 50px;
    }

    .Project h2 {
      font-size: 35px;
    }

    .blog .showAll,
    .aboutUS,
    .slider-content p,
    .slider-content a,
    .slider-name,
    .tab-time,
    .tab-result,
    .tab-description,
    .subscribe form button,
    .subscribe form input,
    .subscribe form input::placeholder,
    .footerInput,
    .footerLink {
      font-size: 22px;
    }

    .secondColumn {
      margin: 0 20px;
    }

    .slider-block {
        flex-wrap: wrap;
    }

    .container > * {
      margin-left: 20px;
      margin-right: 20px;
    }

    .blockInfo {
      max-width: 590px;
    }
    .timer-block{
      margin: 0 0 0 60px;
    }

    .bg {

      padding-bottom: 0;
    }

    .next-project {

      margin-bottom: 120px;
    }

    .location .h3 {

      margin-top: 17px;
      margin-bottom: 24x;
    }

    .location {

      padding-bottom: 25px;
      margin-bottom: 21px;
    }

    .row {

      margin-bottom: 47px;
    }

    .single-slider {

      padding-bottom: 117px;
    }

    .h1 span {
      border-bottom: 3px solid #F2C81F;
    }

    .row .blockInfo h2 {
      border-bottom: 4px solid #F2C81F;
    }

    .blog .blogItems {

      margin-top: 40px;
    }

    .blogHashtag a,
    .blogHashtag span {
      font-size: 8px;
    }
}

/* media 1500px */

@media screen and (max-width: 1500px){
  .logo {
    margin-left: 36px;
    margin-right: 49px;
  }

  .blockInfo .readMore {

    font-size: 16px;
  }

  .logo svg {

    width: 58px;
    height: 23px;
  }

  .lang,
  .menuItem a,
  .lastMenuItem a{

    font-size: 10px;
  }

  .lastMenuItem {
    width: 152px;
    height: 50px;
    margin-left: 39px;
  }

  .header {
    height: 50px;
  }

  .menuItem:first-child {

    padding-right: 0;
  }

  .row .blockInfo .complete .text,
  .row .blockInfo .technology .text {
    font-size: 10px;
  }

  .subscribe {
    padding: 50px 65px 51px 70px;
  }

}

/* media 1440px */

@media screen and (max-width: 1440px) {
  .bannerTitle,
  .h1,
  .banner .timer {
    font-size: 54px;
  }

  .h2, .row .blockInfo h2 {
    font-size: 36px;
  }

  .Project h2 {
    font-size: 30px;
  }

  .blog .showAll,
  .aboutUS,
  .slider-content p,
  .slider-content a,
  .slider-name,
  .tab-time,
  .tab-result,
  .tab-description,
  .subscribe form button,
  .subscribe form input,
  .subscribe form input::placeholder,
  .footerInput {
    font-size: 18px;
  }
  .homeTabs + .bg .border{
    margin-bottom: 200px;
  }

  .footerLink {
    font-size: 16px;
    padding: 7px 22px 8px 13px;
    margin-right: 7px;

  }
}

/* media 1280px */

@media screen and (max-width: 1280px) {
  .bannerTitle,
  .h1,
  .banner .timer {
    font-size: 46px;
  }

  .Project h2 {
    font-size: 27px;
  }

  .h2, .row .blockInfo h2 {
    font-size: 28px;
  }

  .row .blockInfo p,
  .blockInfo .readMore,
  .blog .showAll,
  .aboutUS,
  .slider-content p,
  .slider-content a,
  .slider-name,
  .tab-time,
  .tab-result,
  .tab-description,
  .subscribe form button,
  .subscribe form input,
  .subscribe form input::placeholder,
  .footerInput {
    font-size: 16px;
    font-family: sans-serif;
  }

  .footerLink {
    font-size: 15px;
  }
}

/* media 950px */

@media screen and (max-width: 950px){
  .blockInfo .flex{
    flex-wrap: wrap;
  }
}

/* media 400px */

@media screen and (max-width: 400px){
  .blockInfo .flex{
    flex-wrap: wrap;
  }
}