@import '../../../styles/core/vars';

.registration {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  margin-bottom: 100px;
}

.registrationTitle {
  margin-bottom: 20px;
  text-align: center;
}

.blockSubmit {
  text-align: center;
  margin-bottom: 15px;
}

.login {
  color: $colorMain;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.btnSubmit {
  padding: 10px 20px;
  background: $colorMain;
  margin: 5px auto;

  &:hover {
    color: $colorWhite;
  }
}

.errorText {
  margin: 5px 0;
  color: $colorError;
}

.label {
  margin-bottom: 5px;
}
