@import "../../../../index";

.calculation{
  display: grid;
  grid-template-columns: 50px 150px 100px 100px 25px;
  grid-column-gap: 40px;
  margin-bottom: 20px;
}
.text{
  align-self: center;
  justify-self: right;
}
.icon{
  align-self: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.iconGlobal path{
  .icon:hover &{
    fill: darken(#848484,20%);
  }
}
