@import "../../../../index";

.shadowBlock{
  background-color: #fff;
  padding: 20px;
  position: relative;
  margin-bottom: 100px;
}
.containerGlobal{
  margin: 0 auto;
}
.inputGlobal{
  width: 50%;
}
.textAreaGlobal{
  width: 98.6%;
  margin-bottom: 50px;
}
.smallTitleGlobal{
  margin: 10px 0;
}
.buttonMainGlobal{
  position: absolute;
  bottom: 20px;
  right: 20px;
}