@import '../../../../index';

.containerGlobal{
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 70vh;
  justify-content: flex-start;
  h1{
    margin: 0 auto 20px;
  }
  button{
    margin-top: 20px;
  }
}

