@import '../../../../index';

.title{
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 20px 0;
}

.redStar{
  color: red;
  margin-right: 5px;
}
.flexContainer{
  display: flex;
  flex-direction: column;
}
.textarea{
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-family: Arial;
  font-size: 16px;
  &::selection{
    border: 1px solid $colorMain;
  }
}
.input{
  height: 25px;
  padding-left: 10px;
}
.lotDescriptor,.lotStepAuction{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}
.lotName,.support{
  display: grid;
  grid-template-columns: 200px 300px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}
.lotWait{
  display: grid;
  grid-template-columns: 200px 300px 50px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}
.uah{
  position: relative;
  &:after{
    content: 'грн';
    position: absolute;
    left: 280px;
    top: 5px;
  }
  input{
    width: 100%;
    margin-right: 20px;
  }
}

.percent{
  width: 100%;
  position: relative;
  &:after{
    content: '%';
    position:absolute;
    top: 5px;
    right: -10px;
  }
  input{
    width: 100%;
    margin-right: 20px;
  }
}
.lotRadio{
  display: flex;
  flex-direction: column;
}
.linkGlobal{
  margin-top: 10px;
}

.buttonDownload{
  display: none;
}
.support{
  text-align: center;
  p{
    text-align: left;
  }
}