@import '../../../index';

@import '../../../index';

.container{
  width: 90%;
  margin: 0 auto;
}
.flexContainer{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 2;
  top: 153px;
}

.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 10px;
  background-color: darken($colorWhite,5%);
  border: 1px solid $colorBorder;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tabActive{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px;
  border: 1px solid $colorBorder;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 2;
  background-color: $colorWhite;
  & path {
    fill: $colorMain;
  }
}
.section{
  padding: 20px;
}
.iconActive{
  width: 25px;
  height: 25px;
  margin-right: 5px;
  & path{
    fill: $colorMain;
  }
}
.blockOutside{
  padding: 20px;
  background-color: #fff;
  border: 1px solid $colorBorder;
  border-right: 5px;
  position: relative;
  margin-top: 70px;
}

.text{
  margin-top: 4px;
}