@import '../../index';

.gridContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttonMainGlobal{
  width: 150px;
  margin-right: 20px;
}

.buttons{
  display: flex;
  margin: 20px 0;
}
