@import '../../../styles/core/vars';

.container{
    width: 1200px;
    margin: 0 auto;
  }
.header {
padding: 20px;
display: flex;
}
.tabs{
    display: flex;
    flex-direction: row;
}
.tab{
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
background-color: #dfe6ee;
padding: 20px 10px;
    .title{
        font-size: $fontSizeLaptopSmall;
        color: $colorGrey;
        position: relative;
        margin-left: 5px;
        cursor: pointer;
        &:hover{
        color: #333;
        }
    }
    .icon{
        width: 25px;
        height: 25px;
    }
}
.active{
background-color: #fff;
}