@media screen and (max-width: 1700px) {
  .container {
      max-width: 1080px;
  }

  .oneProject .container,
  .container.next-project {
    max-width: 1152px;
  }

  .share-links svg {
    margin-left: 30px;
  }

  .company-info p {
    font-size: 16px;
    margin-top: 50px;
  }

  .page {
    width: 230px;
  }

  .top-block .banner {
    padding: 20px;
  }

  .company-image {
    height: 500px;
  }

  .company-desc {
    max-width: 55%;
  }

  .company .bg {
    padding: 90px 0;
  }

  .company .bg.bg-block {
    padding: 0 0 90px;
  }

  .company-image {
    margin-bottom: 100px;
  }

  .projectBanner {
    height: 477px;
  }

  .single-item .slick-list {
    max-height: 569px;
  }

  .container.single-review .slider-flex {
    margin-left: 70px;
    margin-right: 70px;
  }

  .single-review {
    padding: 71px 0;
  }

  .projectBannerInfo {
    height: 152px;
    max-width: 314px;
  }

  .bannerContainer {
    max-width: 1010px;
    margin-top: 100px;
  }

  .video {
    max-width: 1152px;
    height: 570px;
  }

  .video video {
    height: 570px;
  }

  .projectDesc {
    max-width: 1010px;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  .single-review .slider-content p {
    font-size: 21px;
    max-width: 70%;
  }

  .single-info .fontRegular {
    font-size: 21px;
  }

  .imageSize {
    height: 413px;
    max-width: 558px;
  }

  .single-info {
    width: 44%;
  }

  .projectBannerText,
  .bannerInfoItem .fontMedium,
  .projectBG .textDesc,
  .blackBG h4,
  .blackBG .flex a,
  .blackBG li,
  .blackBG p {
    font-size: 14px;
  }

  .text-next,
  .share h2{
    font-size: 25px;
  }

  .infoProject .flex + .flex {
    padding-bottom: 70px;
  }

  .blackBG {
    padding: 35px;
    top: 0;
    max-width: 373px;
  }

  .bg-project {
    padding: 60px 85px 94px;
  }

  .next-arrow {
    width: 71px;
    height: 34px;
  }

  .bannerInfoItem .fontRegular,
  .bg-project span {
    font-size: 11px;
  }

  .projectBannerInfo {
    padding: 36px;
  }

  .next-project-img {
    width: 456px;
    height: 299px;
    right: 40px;
  }

  .services-tabs-title img {
    width: 70%;
    margin: auto;
    min-height: 100px;
  }

  .row .blockInfo .complete .text, .row .blockInfo .technology .text {
    font-size: 15px;
  }

  .h3 {
    font-size: 16px;
  }

  .fit {
      height: 283px;
      max-width: 529px;
  }

  .subscribe {
    position: relative;
  }

  .subscribeError, .subscribeErrorFormat {
    position: absolute;
    top: 140px;
    left: 41%;
    transform: translateX(-50%);
  }

  .rangeBlock > p {
    font-size: 17px;
  }

  .rangeWeek + p,
  .rangeBudget + p {
    margin-top: 7px;
    font-size: 12px;
  }

  .descriptionStack {
    font-size: 12px;
  }

  .bigImg {
    height: 441px;
  }

  .smallImg {
    height: 369px;
  }

  .subscribe form p {
    font-size: 25px;
  }

  .stack svg {
    width: 70px;
  }

  .titleStack {
    font-size: 24px;
  }

  .stack:nth-child(2) {
    padding: 0 67px;
  }

  .bg {
    padding: 80px 0 30px;
  }

  .customBtn {
    width: 56px;
    min-width: 56px;
    height: 56px;
    margin: 0 10px;
  }

  .reviews div {
    width: 131px;
    height: 132px;
  }

  .slider-images .slider-mainImage {
    width: 157px;
    height: 100%;
    object-fit: cover;
  }

  .slider-nav .slick-slide {
    width: 66px!important;
  }

  .slider-block .h1 {
    max-width: 298px;
    width: 100%;
    min-width: 298px;
    font-size: 49px;
  }

  .slider-images .slider-logo {
    width: 66px;
    height: 66px;
  }

  .slider-nav .slick-slide img {
    width: 66px;
    height: 66px;
  }

  .tabsItem,
  .imageBlockInfo {
    width: 30%;
  }

  .imageBlockInfo img {
    margin: 0;
    width: 100%;
  }

  .row .blockInfo h2,
  .h2,
  .row .blockInfo .complete .num, .row .blockInfo .technology .num {
    font-size: 39px;
  }

  .row .blockInfo p,
  .tab-description {
    font-size: 16px;
  }

  .flexItems {
    justify-content: space-between;
  }

  .h1 {
    font-size: 49px;
  }

  .tabsContent {
    max-width: 686px;
  }

  .tabs-title {
    font-size: 13px;
  }

  .tab-time,
  .tab-result {
    font-size: 14px;
  }

  .tab-description {
    min-width: 402px;
    width: 402px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .tabs-panel .flex.between {
    align-items: flex-start;
  }

  .tabs-panel .column {
    max-width: 230px;
  }

  .tabs-title:first-child:before {
    width: 138px;
    height: 86px;
    top: -102px
  }

  .tabs-title:nth-child(2):before {
    width: 177px;
    height: 142px;
    top: -158px;
  }

  .tabs-title:nth-child(3):before {
    width: 284px;
    height: 207px;
    top: -223px;
  }

  .tabs-title:nth-child(4):before {
    width: 150px;
    height: 163px;
    top: -179px;
  }

  .tabs-title:nth-child(5):before {
    width: 150px;
    height: 46px;
    top: -62px;
  }

  footer form {
    max-width: 370px;
  }

  .range-container {
    width: 165px;
  }

  .h3 {
    font-size: 16px;
  }

  .footerLink {
    font-size: 16px;
    padding: 12px 24px 12px 15px;
    margin-right: 7px;
  }

  .footerLink img {
    width: 16px;
    margin-right: 10px;
    height: 16px;
  }

  footer form + div {
    max-width: 412px;
  }
}

@media screen and (max-width: 1600px) {
    .bigImg ~ .tabsItemLink {
        left: 0;
    }

    .slider-block {
      margin-top: 60px;
      margin-bottom: 60px;
      padding-bottom: 60px;
    }

    .row {
      padding-bottom: 60px;
      margin-bottom: 60px;
    }

    .review, .work, .blog {
      margin-bottom: 60px;
    }

    .servicesTabs .tabs-panel {
      padding-bottom: 60px;
    }

    .border-block {
      margin: 60px 0;
    }

    .work {
      margin-top: 60px;
    }

    .review + .bg {
      padding-bottom: 60px;
    }

    .bannerTitle,
    .h1,
    .banner .timer {
      font-size: 64px;
    }

    .Project h2 {
      font-size: 35px;
    }

    .row .blockInfo p,
    .blockInfo .readMore,
    .blog .showAll,
    .aboutUS,
    .slider-content p,
    .slider-content a,
    .slider-name,
    .tab-time,
    .tab-result,
    .tab-description,
    .subscribe form button,
    .subscribe form input,
    .subscribe form input::placeholder,
    .footerInput,
    .footerLink {
      font-size: 22px;
    }

    .secondColumn {
      margin: 0 20px;
    }

    .slider-block {
        flex-wrap: wrap;
    }

    .container > * {
      margin-left: 20px;
      margin-right: 20px;
    }

    .blockInfo {
      max-width: 590px;
    }
}

@media screen and (max-width: 1440px) {
  .bannerTitle,
  .h1,
  .banner .timer {
    font-size: 54px;
  }

  .h2, .row .blockInfo h2 {
    font-size: 36px;
  }

  .Project h2 {
    font-size: 30px;
  }

  .row .blockInfo p,
  .blockInfo .readMore,
  .blog .showAll,
  .aboutUS,
  .slider-content p,
  .slider-content a,
  .slider-name,
  .tab-time,
  .tab-result,
  .tab-description,
  .subscribe form button,
  .subscribe form input,
  .subscribe form input::placeholder,
  .footerInput,
  .footerLink {
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .bannerTitle,
  .h1,
  .banner .timer {
    font-size: 46px;
  }

  .Project h2 {
    font-size: 27px;
  }

  .h2, .row .blockInfo h2 {
    font-size: 28px;
  }

  .row .blockInfo p,
  .blockInfo .readMore,
  .blog .showAll,
  .aboutUS,
  .slider-content p,
  .slider-content a,
  .slider-name,
  .tab-time,
  .tab-result,
  .tab-description,
  .subscribe form button,
  .subscribe form input,
  .subscribe form input::placeholder,
  .footerInput,
  .footerLink {
    font-size: 16px;
  }
}
