.Popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 998;
}

.popupContent {
  position: relative;
  background-color: #ffffff;
  z-index: 999;
}

.close{
  margin-left: auto;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}
