.children {
  margin-left: 40px;
}
.sub {
  margin-left: 20px;
  display: none;
}

.button{
  margin-right: 10px;
}

.showBlock{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  overflow: hidden;
  flex-wrap: wrap;

  .button {
    img + img {
      display: none;
    }
  }

  &.open {
    & + .sub {
      display: block;
    }
    .button {
      img {
        display: none;
      }
      img + img {
        display: block;
      }
    }
  }
}
.img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.label{
  width: 95%;
}