@import '../../../styles/core/vars';

.flexContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

//Tabs
.tab {
  border: 1px solid;
}

.tabActive{
  background-color: $colorWhite;
  height: 50px;
  border: 1px solid $colorBorder;
  border-color: $colorBorder $colorBorder $colorWhite;
  padding: 0 20px 0 20px;
  border-radius: 5px 5px 0 0;
}

.main {
  width: 100%;
  margin-left: 50px;
}
.bgWhite {
  background: $colorWhite;
  padding: 20px;
  border: 1px solid $colorBorder;
  border-radius: 5px;
}

.titleContainer{
  width: 100%;
  display: flex;
  margin: 20px 0 0;
  border: 22px;
}
.leftBlock{
  display: flex;
  width: 50%;
  padding-left: 20px;
}
.middleBlock{
  display: flex;
  width: 37%;
  p:first-child{
    margin-right: 30px;
  }
}
.rightBLock{
  display: flex;
  width: 12%;
}

