@import "./../../../../index";

.whiteBlock{
  width: 100%;
  padding: 20px 0;
  background-color: $colorWhite;
  border-bottom: 1px solid $colorBorder;
  margin-bottom: 20px;
}
.addContainer{
  display: flex;
  align-items: center;
  min-height: 200px;
}

.dashed{
  display: grid;
  width: 100%;
  height: 200px;
  border: 2px dashed $colorBorder;
  cursor: pointer;
  &:hover span{
    color: darken($colorGrey,30%);
  }
  span{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: $colorGrey;
    align-self: center;
    justify-self: center;
  }
}
.icon{
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.buttons{
  .buttonMainGlobal{
    margin-right: 20px;
  }
}

.buttonMainGlobal{
  margin-right: 20px;
}