@import "../../../styles/core/vars";

.container{
  width: 90%;
  margin: 40px auto 20px;
}

.menu{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: lighten($colorMain,60%);
  border: 1px solid $colorBorder;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $colorBorder;
    border-right: 1px solid $colorBorder;
    background: rgb(56,167,197);
    background: linear-gradient(3deg, rgba(56,167,197,1) 0%, rgba(56,167,197,0.4542191876750701) 100%);
    padding: 10px;
    &:hover{
      background-color: lighten($colorGrey,35%);;
    }
    &:hover .showBlock{
      display: block;
    }
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      padding: 3px 5px;
      background-color: #ffffffa4;
      border-radius: 2px;
      font-size: 12px;
    }
  }
}
.icon{
  width: 25px;
  height: 25px;
}
.showBlock{
  min-width: 150px;
  display: none;
  position: absolute;
  top: 45px;
  background: $colorWhite;
  border: 1px solid $colorBorder;
  border-radius: 5px;
  padding: 5px 0;
  z-index: 4;
}
.item{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  &:hover{
    background-color: darken($colorWhite,20%);
  }
}
