@import "../../../styles/core/vars";

.bgWhite {
  background: $colorWhite;
  margin-top: 10px;
  border: 1px solid $colorBorder;
  border-radius: 5px;
}

.titleContainer{
  width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
.leftBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 20px;
  a{
    font-size: 17px;
    color: $colorMain;
    margin-bottom: 5px;
  }
  span{
    margin: 5px 0;
  }
}
.middleBlock{
  display: flex;
  align-items: center;
  width: 35%;
  div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 15px;
  }
  .sumBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
  }
}
.sum{
  font-weight: 700;
  margin-bottom: 10px;
}
.rightBLock{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.period{
  font-size: 13px;
  color: $colorMain;
  margin-bottom: 10px;
}
.data{
  font-size: 11px;
  color: #848484;
  margin-bottom: 10px;
  &:hover{
    color: darken(#848484,20%);
  }
}
.contentText{
  font-size: 13px;
  color: #333;
  margin-bottom: 10px;
}
.iconBlock{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.iconStar{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  & path{
    fill: #848484;
  }
}
.active path{
  fill: $colorMain;
}