@import '../../../index';
.containerGlobal{
  padding: 10px 0 20px;
}
.contractBlock{
  display: grid;
  border: 1px solid $colorBorder;
  min-height: 300px;
}
.middleTitleGlobal{
  padding: 20px;
  border-bottom: 1px solid $colorBorder;
}
.tableBlock{
  display: grid;
  grid-template-columns: 200px 400px;
  margin-top: 20px;
}

.nameCell{
  display: grid;
  grid-template-columns: 1fr;
}
.nameCellContent{
  display: grid;
  grid-template-columns: 55px 1fr;
  padding-top: 5px;
}
.cellDate{
  display: grid;
  grid-gap: 0;
  align-items: center;
}
.iconGlobal{
  width: 50px;
  height: 50px;
}
.smallGrayTextGlobal{
  margin-top: 0;
}
.titleTable,.typeTable{
  display: flex;
  border-bottom: 1px solid $colorBorder;
  justify-content: center;
  padding-bottom: 5px;
}
.typeTable, .titleTable{
  width: 100%;
  font-weight: 700;
}
.iconGlobalDelete{
  width: 25px;
  height: 25px;
  & path{
    fill: $colorGrey;
  }
}
.typeCellContent{
  display: grid;
  grid-template-columns: 200px 50px;
  grid-column-gap: 20px;
  margin-top: 10px;
  select{
    margin-bottom: 16px;
  }
}
.downloadButton{
  display: none;
}
.download{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  width: 250px;
  .buttonGlobal{
    width: 200px;
    text-align: center;
  }
  .smallGrayTextGlobal{
    margin: 10px 0;
  }
}
.gridTable{
  display: grid;
  grid-template-columns: 200px 200px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}