{% load static %}
 {% load i18n %}
 <div class="container blog">    
 <a href="#" class="countFlexBlock">
   <h2 class="h1 fontMedium flex">
      <span>{% trans 'view_blog' %}</span>
    </h2>
     <span class="blogCount menuItem">{{ blogs.count }}</span>
 </a>
<a href="#" class="showAll fontMedium">
    {% trans 'blog_show_all' %}
</a>
<div class="flex blogItems">
    {% for blog in blogs %}
        <article class="blogItem column">
          <a href="{% url 'one_blog' blog.id %}">
            <img class="blogImage" src="/media/{{ blog.image }}" alt="{{ blog.name }}">
            <p class="fontMedium blogDescription">
                {{ blog.name }}
            </p>
            <div class="blogHashtag flex">
                <span class="fontRegular">
                  <a href="{% url 'blog' %}?entity={{blog.topic.name}}">#{{ blog.topic.name }}</a>
                </span>
                <span class="fontRegular">{{ blog.views }}</span>
                <span style="color: #F2C81F;" class="fontMedium">{% trans 'blog_views' %}</span>
            </div>
          </a>
        </article>
  {% endfor %}
</div>
</div>
