{% load static %}
 {% load i18n %}
<h1 class="h1 fontMedium flex">
            {% trans 'view_blog' %}<span class="blogCount menuItem">34</span>
        </h1>
        <a href="#" class="showAll fontMedium">
            {% trans 'blog_show_all' %}
        </a>
        <div class="flex blogItems">
            {% for blog in blogs %}
            <a href="#">
                <article class="blogItem column">
                    <img class="blogImage" src="{{  request.META.HTTP_HOST  }}/media/{{ blog.image }}" alt="">
                    <p class="fontMedium blogDescription">
                        {{ blog.name }}
                    </p>
                    <div class="blogHashtag flex">
                        <a class="fontMedium" href="#">{% trans 'blog_views' %}</a>
                        <span class="fontRegular">{{ blog.views }}m</span>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>