{% extends 'site/base.html' %}
{% load static %}
 {% load i18n %}
{% block title %}
    Mavinx - {% trans 'title_head_page' %}
{% endblock %}

{% block content %}
    <div class="container banner">
        <h1 class="bannerTitle fontMedium">
            <span>{% trans 'we_are' %}</span>
        </h1>
        <div class="flex timers">
            <div class="timer-block">
                <p class="timer fontMedium" data-to="{{ contact.teams }}" data-speed="1500"></p>
                <span class="opacityText fontRegular">
                    {% trans 'team' %}
                </span>
            </div>
            <div class="timer-block">
                <p class="timer fontMedium plus" data-to="{{ contact.completed_project }}" data-speed="2000"></p>
                <span class="opacityText fontRegular">
                  {% trans 'project_complete' %}
                </span>
            </div>
            <div class="timer-block">
                <p class="timer fontMedium plus" data-to="{{ contact.experience }}" data-speed="1000"></p>
                <span class="opacityText fontRegular">
                    {% trans 'years_of_experience' %}
                </span>
            </div>
        </div>
    </div>
    <div class="homeTabs">
        {% include 'site/head/project-all.html' %}
    </div>
    <div class="bg">
        <div class="container">
            {% include 'site/head/project-ios.html' %}
            {% include 'site/head/project-android.html' %}
            {% include 'site/head/project-web.html' %}
            {% include 'site/head/project-ux-ui-testing.html' %}
        </div>
    </div>
    <div class="container visible">
        {% include 'site/head/review.html' %}
    </div>
    <div class="container review flex between">
        <h2 class="h2 fontMedium">
            {% trans 'more_review' %}
        </h2>
        <div class="flex reviews">
            <div>
                <a class="link__hover" href="https://www.freelancer.com/u/ruslanyalansky">
                    <img src="{% static 'site/images/freelancer-logo.png' %}" alt="">
                </a>
                <p class="review-starts fontMedium">
                    5 (73)
                </p>
            </div>
            <div>
                <a class="link__hover" href="https://www.upwork.com/o/profiles/users/~01261ca4ba7a853a65/">
                    <img src="{% static 'site/images/upwork.png' %}" alt="">
                </a>
                <p class="review-starts fontMedium">
                    5 (41)
                </p>
            </div>
            <div>
                <a class="link__hover" href="https://clutch.co/profile/mavinx">
                    <img src="{% static 'site/images/2017_We_Deliver_White.png' %}" alt="">
                </a>
                <p class="review-starts fontMedium">
                    5 (14)
                </p>
            </div>
            <div>
                <a class="link__hover" href="https://www.goodfirms.co/company/mavinx">
                    <img src="{% static 'site/images/image1-984x555.png' %}" alt="">
                </a>
                <p class="review-starts fontMedium">
                    5 (6)
                </p>
            </div>
        </div>
    </div>
    <div class="bg">
        <div class="container">
            {% include 'site/head/why-us.html' %}
        </div>
    </div>
    <div class="container">
     {% include 'site/head/work.html' %}
     {% include 'site/head/subscribe.html' %}

        <div class="border-block"></div>
    </div>
    <div class="container blog">
        {% include 'site/head/blog.html' %}
    </div>
{% endblock %}
