{% load static %}
{% load i18n %}
<div class="servicesTabs">
                <ul class="flex" data-tabs="" id="example-tabs">
                       <li class="services-tabs-title" onmouseover="openTabsServices(event, 'servicespanel5')">
                        <a href="#servicespanel5">
                          <img class="first" src="{% static 'site/images/Group 2915.svg' %}" alt="">
                          <img class="second" src="{% static 'site/images/Group 29151.svg' %}" alt="">
                          <p class="tabCircle"></p>
                          <p class="fontMedium">iOS App</p>
                        </a>
                    </li>
                    <li class="services-tabs-title" onmouseover="openTabsServices(event, 'servicespanel6')">
                        <a href="#servicespanel6">
                          <img class="first" src="{% static 'site/images/android.svg' %}" alt="">
                          <img class="second" src="{% static 'site/images/android1.svg' %}" alt="">
                          <p class="tabCircle"></p>
                          <p class="fontMedium">Android App</p>
                        </a>
                    </li>
                    <li class="services-tabs-title is-active" onmouseover="openTabsServices(event, 'servicespanel1')">
                        <a href="#servicespanel1">
                          <img class="first" src="{% static 'site/images/Page-11.svg' %}" alt="">
                          <img class="second" src="{% static 'site/images/Page-1.svg' %}" alt="">
                          <p class="tabCircle"></p>
                          <p class="fontMedium">Front-end</p>
                        </a>
                    </li>
                            <li class="services-tabs-title" onmouseover="openTabsServices(event, 'servicespanel3')">
                        <a href="#servicespanel3">
                          <img class="first" src="{% static 'site/images/Page-1 (2).svg' %}" alt="">
                          <img class="second" src="{% static 'site/images/Page-11 (2).svg' %}" alt="">
                          <p class="tabCircle"></p>
                          <p class="fontMedium">Backend</p>
                        </a>
                    </li>
                    <li class="services-tabs-title" onmouseover="openTabsServices(event, 'servicespanel2')">
                        <a href="#servicespanel2" aria-selected="true">
                          <img class="first" src="{% static 'site/images/Page-1 (1).svg' %}" alt="">
                          <img class="second" src="{% static 'site/images/Page-11 (1).svg' %}" alt="">
                          <p class="tabCircle"></p>
                          <p class="fontMedium">Infrastructure</p>
                        </a>
                    </li>
                    <li class="services-tabs-title" onmouseover="openTabsServices(event, 'servicespanel4')">
                        <a href="#servicespanel4">
                          <img class="first" src="{% static 'site/images/Page-1 (3).svg' %}" alt="">
                          <img class="second" src="{% static 'site/images/Page-11 (3).svg' %}" alt="">
                          <p class="tabCircle"></p>
                          <p class="fontMedium">Database</p>
                        </a>
                    </li>
                </ul>
                <div class="column">
                    <div class="tabs-content" data-tabs-content="example-tabs">
                          <div class="tabs-panel" id="servicespanel5" style="display: none;">
                          <div class="flex">
                            <p class="fontRegular">Swift</p>
                            <p class="fontRegular">Objective-C</p>
                          </div>
                        </div>
                        <div class="tabs-panel" id="servicespanel6" style="display: none;">
                          <div class="flex">
                            <p class="fontRegular">Kotlin</p>
                            <p class="fontRegular">Java</p>
                          </div>
                        </div>
                        <div class="tabs-panel" id="servicespanel1" style="display: block;">
                            <div class="flex">
                              <p class="fontRegular">React js</p>
                              <p class="fontRegular">JavaScript</p>
                              <p class="fontRegular">Vue.js</p>
                              <p class="fontRegular">HTML5</p>
                              <p class="fontRegular">CSS3</p>
                            </div>
                        </div>
                         <div class="tabs-panel" id="servicespanel3" style="display: none;">
                          <div class="flex">
                            <p class="fontRegular">Python</p>
                            <p class="fontRegular">PHP</p>
                            <p class="fontRegular">Django</p>
                            <p class="fontRegular">Laravel</p>
                            <p class="fontRegular">Lumen</p>
                          </div>
                        </div>
                        <div class="tabs-panel is-active" id="servicespanel2" style="display: none;">
                          <div class="flex">
                            <p class="fontRegular">Docker</p>
                            <p class="fontRegular">GitHub</p>
                            <p class="fontRegular">AWS</p>
                            <p class="fontRegular">Nginx</p>
                            <p class="fontRegular">Gunicorn</p>
                          </div>
                        </div>
                        <div class="tabs-panel" id="servicespanel4" style="display: none;">
                          <div class="flex">
                            <p class="fontRegular">MySQL</p>
                            <p class="fontRegular">PostgreSQL</p>
                            <p class="fontRegular">NoSQL</p>
                            <p class="fontRegular">Redis</p>
                            <p class="fontRegular">Elasticsearch</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>