{% load static %}
 {% load i18n %}
<div class="tabs__content active">
            <div class="flexItems">
                {% for project in data %}
                    <div class="tabsItem">
                        <img class="{% if forloop.counter|divisibleby:2 %}smallImg {% else %} bigImg {% endif %}"
                             src="/media/{{project.head_image }}" alt="">
                        <a class= href="#">
                            <div class="tabsItemLink fontMedium column">
                                <p>{{ project.name }}</p>
                                <div class="flex">
                                    {% for area in project.area.all %}
                                        <span class="fontRegular">{{ area.name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div class="tabsItem allProjects">
                  <a href="{% url 'works' %}">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                  </a>
                </div>
            </div>
        </div>
        <div class="tabs__content">
            <div class="flexItems">
                {% for project_ios in projects_ios %}
                <div class="tabsItem">
                    <img class="{% if forloop.counter|divisibleby:2 %}smalвіт! Img {% else %} bigImg {% endif %}"
                         src="/media/{{project_ios.head_image }}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                             <p>{{ project_ios.name }}</p>
                            <div class="flex">
                                {% for area in project_ios.area.all %}
                                    <span class="fontRegular">{{ area.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
               {% endfor %}


                <div class="tabsItem allProjects">
                  <a href="{% url 'works' %}">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                  </a>
                </div>
            </div>
        </div>
        <div class="tabs__content">
            <div class="flexItems">
                {% for project_android in projects_android %}
                <div class="tabsItem">
                    <img class="{% if forloop.counter|divisibleby:2 %}smallImg {% else %} bigImg {% endif %}"
                         src="/media/{{project_android.head_image }}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                             <p>{{ project_android.name }}</p>
                            <div class="flex">
                                {% for area in project_android.area.all %}
                                    <span class="fontRegular">{{ area.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
               {% endfor %}

                <div class="tabsItem allProjects">
                  <a href="{% url 'works' %}">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                  </a>
                </div>
            </div>
        </div>
        <div class="tabs__content">
            <div class="flexItems">
                {% for project_web in projects_web %}
                <div class="tabsItem">
                    <img class="{% if forloop.counter|divisibleby:2 %}smallImg {% else %} bigImg {% endif %}"
                         src="/media/{{project_web.head_image }}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                             <p>{{ project_web.name }}</p>
                            <div class="flex">
                                {% for area in project_web.area.all %}
                                    <span class="fontRegular">{{ area.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
               {% endfor %}

                <div class="tabsItem allProjects">
                  <a href="{% url 'works' %}">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                  </a>
                </div>
            </div>
        </div>
        <div class="tabs__content">
            <div class="flexItems">
                {% for project_ux-ui in projects_ux_ui %}
                <div class="tabsItem">
                    <img class="{% if forloop.counter|divisibleby:2 %}smallImg {% else %} bigImg {% endif %}"
                         src="/media/{{projects_ux_ui.head_image }}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                             <p>{{ projects_ux_ui.name }}</p>
                            <div class="flex">
                                {% for area in projects_ux_ui.area.all %}
                                    <span class="fontRegular">{{ area.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
               {% endfor %}

                <div class="tabsItem allProjects">
                  <a href="{% url 'works' %}">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                  </a>
                </div>
            </div>
        </div>
