{% load static %}
 {% load i18n %}
<div class="container tabs">
  <ul class="tabs__caption">
    <a class="tabs__link" href="{% url 'works' %}">
      <li class="fontMedium">
          {% trans 'proj_all_tab' %}
      </li>
    </a>
    {% for area in areas %}
         {% if area.show_in_block_project %}
          <a class="tabs__link" href="?area={{ area.name }}">
            <li class="fontMedium">
                {{ area.name }}
            </li>
          </a>
        {% endif %}
    {% endfor %}
  </ul>
  {% include 'site/head/only-project.html' %}
</div>
