{% load static %}
{% load i18n %}
<div class="container tabs">
        <ul class="tabs__caption">
            <li class="fontMedium active">{% trans 'proj_all_tab' %}</li>
            <li class="fontMedium">IOS</li>
            <li class="fontMedium">Android</li>
            <li class="fontMedium">Web</li>
        </ul>
        <div class="tabs__content active">
            <div class="firstColumn">
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/4.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/1.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="secondColumn">
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/3.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/5.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lastColumn">
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/2.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem allProjects">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs__content">
            <div class="firstColumn">
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/4.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/1.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="secondColumn">
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/3.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="bigImg" src=" {% static 'site/images/5.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lastColumn">
                <div class="tabsItem">
                    <img class="bigImg" src=" {% static 'site/images/2.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem allProjects">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs__content">
            <div class="firstColumn">
                <div class="tabsItem">
                    <img class="bigImg" src=" {% static 'site/images/4.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/1.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="secondColumn">
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/3.png'  %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="bigImg" src=" {% static 'site/images/5.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lastColumn">
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/2.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem allProjects">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs__content">
            <div class="firstColumn">
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/4.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/1.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="secondColumn">
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/3.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/5.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lastColumn">
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/2.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem allProjects">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs__content">
            <div class="firstColumn">
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/4.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/1.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="secondColumn">
                <div class="tabsItem">
                    <img class="smallImg" src="{% static 'site/images/3.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/5.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lastColumn">
                <div class="tabsItem">
                    <img class="bigImg" src="{% static 'site/images/2.png' %}" alt="">
                    <a class= href="#">
                        <div class="tabsItemLink fontMedium column">
                            FoodDelivery
                            <div class="flex">
                                <span class="fontRegular">iOS</span>
                                <span class="fontRegular">Android</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tabsItem allProjects">
                    <div class="smallImg Project">
                        <div class="column">
                            <h2 class="fontMedium">{% trans 'proj_all_show' %}</h2>
                            <img src="{% static 'site/images/arrow.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
