{% load static %}
{% load i18n %}
 <div class="row row-reverse">
                <div>
                    <img src="{% static 'site/images/a2.png' %}" alt="">
                </div>
                <div  class="blockInfo">
                    <h2 class="fontMedium">{% trans 'android_app' %}</h2>
                    <p class="fontRegular">
                        {% trans 'android_app_desc' %}
                      </p>
                    <div class="flex">
                        <div class="complete">
                            <p class="num fontMedium">{{ contact.android_count_proj }}</p>
                            <p class="text fontRegular">{% trans 'android_complite_app' %}</p>
                        </div>
                        <div class="technology">
                            <img src="{% static 'site/images/swift.png' %}" alt="">
                            <p class="text fontRegular">Kotlin</p>
                        </div>
                        <div class="technology">
                            <img src="{% static 'site/images/java-logo-7F8B35BAB3-seeklogo.com.png' %}" alt="">
                            <p class="text fontRegular">Java C</p>
                        </div>
                        <a class="readMore fontMedium" href="#">{% trans 'read_more_android' %}</a>
                    </div>
                </div>
            </div>