{% load static %}
{% load i18n %}
<div class="flex between slider-block">
            <h1 class="h1 fontMedium">
                {% trans 'say_about_us' %}
            </h1>
            <div class="column">
                <div class="slider-for">
                    <div class="slider-flex">
                        <div class="slider-images">
                            <img class="slider-mainImage" src="{% static 'site/images/face.png' %}" alt="">
                            <img class="slider-logo" src="{% static 'site/images/ef.png' %}" alt="">
                            <h3 class="slider-name fontMedium">Ethan Pierce</h3>
                            <p class="prof fontRegular">CEO EasyFit</p>
                        </div>
                        <div class="slider-content">
                            <p class="fontRegular">
                                They really like to satisfy the client as much as possible I’m a pretty picky IT engineer, so they needed some time get to know what I wanted, but we were successful. they do not ask for any payment until the customer is satisfied. This is a very good point.
                            </p>
                            <a class="fontMedium" href="">
                                 {% trans 'view_case_study' %}
                            </a>
                        </div>
                    </div>
                    <div class="slider-flex">
                        <div class="slider-images">
                            <img class="slider-mainImage" src="{% static 'site/images/face.png' %}" alt="">
                            <img class="slider-logo" src="{% static 'site/images/pw.png' %}" alt="">
                            <h3 class="slider-name fontMedium">Ethan Pierce</h3>
                            <p class="prof fontRegular">CEO EasyFit</p>
                        </div>
                        <div class="slider-content">
                            <p class="fontRegular">
                                They really like to satisfy the client as much as possible I’m a pretty picky IT engineer, so they needed some time get to know what I wanted, but we were successful. they do not ask for any payment until the customer is satisfied. This is a very good point.
                            </p>
                            <a class="fontMedium" href="">
                                {% trans 'view_case_study' %}
                            </a>
                        </div>
                    </div>
                    <div class="slider-flex">
                        <div class="slider-images">
                            <img class="slider-mainImage" src="{% static 'site/images/face.png' %}" alt="">
                            <img class="slider-logo" src="{% static 'site/images/mi.png' %}" alt="">
                            <h3 class="slider-name fontMedium">Ethan Pierce</h3>
                            <p class="prof fontRegular">CEO EasyFit</p>
                        </div>
                        <div class="slider-content">
                            <p class="fontRegular">
                                They really like to satisfy the client as much as possible I’m a pretty picky IT engineer, so they needed some time get to know what I wanted, but we were successful. they do not ask for any payment until the customer is satisfied. This is a very good point.
                            </p>
                            <a class="fontMedium" href="">
                               {% trans 'view_case_study' %}
                            </a>
                        </div>
                    </div>
                    <div class="slider-flex">
                        <div class="slider-images">
                            <img class="slider-mainImage" src="{% static 'site/images/face.png' %}" alt="">
                            <img class="slider-logo" src="{% static 'site/images/mir.png' %}" alt="">
                            <h3 class="slider-name fontMedium">Ethan Pierce</h3>
                            <p class="prof fontRegular">CEO EasyFit</p>
                        </div>
                        <div class="slider-content">
                            <p class="fontRegular">
                                They really like to satisfy the client as much as possible I’m a pretty picky IT engineer, so they needed some time get to know what I wanted, but we were successful. they do not ask for any payment until the customer is satisfied. This is a very good point.
                            </p>
                            <a class="fontMedium" href="">
                              {% trans 'view_case_study' %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slider-nav">
                    <div>
                        <img src="{% static 'site/images/ef.png' %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'site/images/pw.png' %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'site/images/mi.png' %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'site/images/mir.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>