{% load static %}
{% load i18n %}
<div class="flex between slider-block">
            <h1 class="h1 fontMedium">
                {% trans 'say_about_us' %}
            </h1>
            <div class="column">
                <div class="slider-for">
                    {% for review in reviews %}
                    <div class="slider-flex">
                        <div class="slider-images">
                            <img class="slider-mainImage" src="{{  request.META.HTTP_HOST  }}/media/{{review.customer.image  }}" alt="">
                            <img class="slider-logo" src="{{  request.META.HTTP_HOST  }}/{{ review.customer.company.logo}}" alt="">
                            <h3 class="slider-name fontMedium">{{ review.customer.name }}</h3>
                            <p class="prof fontRegular">{{ review.customer.description }}</p>
                        </div>
                        <div class="slider-content">
                            <p class="fontRegular">
                                {{ review.name }}
                            </p>
                            <a class="fontMedium" href="">
                                 {% trans 'view_case_study' %}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="slider-nav">
                     {% for review in reviews %}
                        <div>
                            <img src="{{  request.META.HTTP_HOST  }}/media/{{ review.customer.company.logo}}" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>