 {% load i18n %}
<div class="subscribe">
            <form >
                 {% csrf_token %}
                <p class="fontMedium">
                    {% trans 'subscribe_to_your' %}
                </p>
                <input name="email" type="email" id="sub_email" placeholder="E-mail" required>
                <span class="subscribeError fontMedium">{% trans 'error_mess' %}</span>
                <span class="subscribeErrorFormat fontMedium">Required format text@text.domen</span>
                <button class="fontMedium" id="send_sub_but">
                   {% trans 'subscribe' %} +
                </button>
            </form>
        </div>