{% load static %}
{% load i18n %}
<div class="flex between">
                <h1 class="h1 fontMedium">
                    {% trans 'why_us' %}
                </h1>
                <a class="aboutUS fontMedium" href="">
                    {% trans 'more_about_m' %} Mavinx
                </a>
</div>
 <div class="technologyBlock flex between">
                <div class="stack">
                    <img class="stackImg" src="{% static 'site/images/stack.png' %}" alt="">
                    <p class="titleStack fontMedium">
                        {% trans 'technology_stack' %}
                    </p>
                    <p class="descriptionStack fontRegular">
                        {% trans 'technology_stack_context' %}
                    </p>
                </div>
                <div class="stack">
                    <img class="stackImg" src="{% static 'site/images/stack.png' %}" alt="">
                    <p class="titleStack fontMedium">
                         {% trans 'technology_stack' %}
                    </p>
                    <p class="descriptionStack fontRegular">
                       {% trans 'technology_stack_context' %}
                    </p>
                </div>
                <div class="stack">
                    <img class="stackImg" src="{% static 'site/images/stack.png' %}" alt="">
                    <p class="titleStack fontMedium">
                         {% trans 'technology_stack' %}
                    </p>
                    <p class="descriptionStack fontRegular">
                        {% trans 'technology_stack_context' %}
                    </p>
                </div>
            </div>