{% load static %}
{% load i18n %}
<div class="flex between work">
            <h1 class="h1 fontMedium">
                {% trans 'how_work' %}
            </h1>
            <div class="column tabsContent">
                <ul class="flex" data-tabs id="example-tabs">
                    <li class="tabs-title fontMedium" onmouseover="openTabs(event, 'panel1')">
                        <a href="#panel1">{% trans 'work_specification' %}</a>
                    </li>
                    <li class="tabs-title is-active fontMedium" onmouseover="openTabs(event, 'panel2')">
                        <a href="#panel2" aria-selected="true">{% trans 'work_design' %}</a>
                    </li>
                    <li class="tabs-title fontMedium"  onmouseover="openTabs(event, 'panel3')">
                        <a href="#panel3"> {% trans 'work_development' %}</a>
                    </li>
                    <li class="tabs-title fontMedium"  onmouseover="openTabs(event, 'panel4')">
                        <a href="#panel4">{% trans 'work_testing' %}</a>
                    </li>
                    <li class="tabs-title fontMedium"  onmouseover="openTabs(event, 'panel5')">
                        <a href="#panel5">{% trans 'work_support' %}</a>
                    </li>
                </ul>
                <div class="column">
                    <div class="tabs-content" data-tabs-content="example-tabs">
                        <div class="tabs-panel" id="panel1">
                            <div class="flex between">
                                <div class="column">
                                    <p class="tab-time fontMedium">{% trans 'work_time' %}</p>
                                    <p class="h3 fontMedium">1-3 {% trans 'work_week' %}</p>
                                    <p class="tab-result fontMedium">
                                        {% trans 'work_result' %}
                                    </p>
                                    <p class="h3 fontMedium">{% trans 'work_context_spec_one' %}</p>
                                    <p class="h3 fontMedium">{% trans 'work_context_spec_two' %}</p>
                                    <p class="h3 fontMedium">{% trans 'work_context_spec_three' %}</p>
                                </div>
                                <p class="fontRegular tab-description">
                                    {% trans 'work_context_spec' %}
                                </p>
                            </div>
                        </div>
                        <div class="tabs-panel is-active" id="panel2">
                            <div class="flex between">
                                <div class="column">
                                    <p class="tab-time fontMedium">{% trans 'work_time' %}</p>
                                    <p class="h3 fontMedium">1-4 {% trans 'work_week' %}</p>
                                    <p class="tab-result fontMedium">
                                        {% trans 'work_result' %}
                                    </p>
                                    <p class="h3 fontMedium">{% trans 'work_context_design_one' %}</p>
                                    <p class="h3 fontMedium">{% trans 'work_context_design_two' %}</p>
                                </div>
                                <p class="fontRegular tab-description">
                                  {% trans 'work_context_design' %}
                                </p>
                            </div>
                        </div>
                        <div class="tabs-panel" id="panel3">
                            <div class="flex between">
                                <div class="column">
                                    <p class="tab-time fontMedium">{% trans 'work_time' %}</p>
                                    <p class="h3 fontMedium">1-2 {% trans 'work_week' %}</p>
                                    <p class="tab-result fontMedium">
                                        {% trans 'work_result' %}
                                    </p>
                                     <p class="h3 fontMedium">{% trans 'work_context_develop_one' %}</p>
                                </div>
                                <p class="fontRegular tab-description">
                                    {% trans 'work_context_develop' %}
                                </p>
                            </div>
                        </div>
                        <div class="tabs-panel" id="panel4">
                            <div class="flex between">

                                <p class="fontRegular tab-description">
                                   {% trans 'work_context_testing' %}
                                </p>
                            </div>
                        </div>
                        <div class="tabs-panel" id="panel5">
                            <div class="flex between">
                                <p class="fontRegular tab-description">
                                  {% trans 'work_context_support' %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript">
  function openTabs(evt, idItem) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabs-panel");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tabs-title");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(idItem).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>
