@import 'src/styles/core/vars';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1400px;
  min-height: 64vh;
  margin: 100px auto 100px;
}

.flexContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  position: relative;
  background-color: $colorWhite;
}

//Tabs
.buttonTabs{
  position: absolute;
  top: -51px;
  z-index: 999;
}

.tab{
  display: inline-flex;
  align-items: center;
  background-color: $colorWhite;
  height: 50px;
  border: 1px solid $colorBorder;
  padding: 0 20px 0 20px;
  border-radius: 5px 5px 0 0;
  background-color: darken($colorWhite,2%);
}
.tabActive {
  background-color: $colorWhite;
  border-bottom: 1px solid $colorWhite;
  .icon path{
    fill: $colorMain;
  }
}

.main {
  width: 100%;
  margin-left: 50px;
}
.bgWhite {
  background: $colorWhite;
  padding: 20px;
  border: 1px solid $colorBorder;
  border-radius: 0 5px 5px 5px;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.icon path{
  fill: $colorBorder;
}

// Menu

.menu{
  display: flex;
  width: 90%;
  padding: 20px 5px;
  margin: 0 auto;
}
.menuItem{
  width: calc(100%/3);
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid $colorBorder;
}
.menuItemActive{
  color: $colorMain;
  border-bottom: 2px solid $colorMain;
}

// sort
.sortBlock{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}
.sort{
  display: flex;
  b{
    margin-right: 20px;
  }
}
.titleContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 5px 5px;
  box-sizing: border-box;
  font-size: 13px;
  margin-top: 30px;
  p:last-child{
    margin-right: 140px;
  }
}

.middleBlock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 270px;
  p:first-child {
    margin-right: 80px;
  }

  p:last-child {
    margin-right: 20px;
  }
}

.textLow {
  font-size: 11px;
  color: #848484;
  margin-bottom: 10px;
}