@import "./../../../../index";

.nameNonePrice,.descriptionNonePrice{
  display: grid;
  grid-template-columns: 200px 600px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}

.weightNonePrice{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}
.calculation{
  display: grid;
  grid-template-columns: 50px 150px 100px 100px 25px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}
.text{
  align-self: center;
  justify-self: right;
}
.icon{
  align-self: center;
  cursor: pointer;
}
.iconGlobal path{
  .icon:hover &{
    fill: darken(#848484,20%);
  }
}
