@import '../../../../index';

.shadowBlock{
  background-color: $colorWhite;
  width: 600px;
  padding: 20px;
  margin: 20px 0;
}
.buttonMainGlobal{
  margin-right: 20px;
}
.buttonsBlock,.flexColumnGlobal{
  margin-top: 10px;
}
