@import '../../../../index';

.containerQualification{
  background-color: $colorWhite;
}
.icon{
  width: 25px;
  height: 25px;
  margin-right: 20px;
  & path{
    fill: green;
  }
}
.one{
  color: green;
  border:1px solid darken(#00ff0077,30%);
  background-color: rgba(207, 250, 207, 0.47);
}