@import "../../../../index";

.blockWarning{
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid darken($colorWarningAttention,20%);
  border-radius: 5px;
  background-color: $colorWarningAttention;
  padding: 10px;
  color:darken($colorWarningAttention,50%);
  margin: 10px 0;
}
.circle{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 10px;
  padding: 5px;
  font-size: 24px;
  color:darken($colorWarningAttention,50%) ;
  font-weight: 700;
  background-color: darken($colorWarningAttention,20%);
}